<a href="https://colab.research.google.com/github/dretcm/World-Cup-Challenge-2022-ACM/blob/main/worlds_cup_2k22_predictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Load and preproccesing data

In [114]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

results = pd.read_csv("InternationalFootballResults_1872to2022_results.csv")
results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False

In [115]:
def onehotencoder(countrys, word):
  output = []
  for country in countrys:
    if country == word:
      output.append(1)
    else:
      output.append(0)
  return output

countrys = list(set(list(results['home_team']) + list(results['away_team'])))
len(onehotencoder(countrys, 'Argentina'))

316

In [116]:
home = list(results['home_team'])
home_score = list(results['home_score'])

away = list(results['away_team'])
away_score = list(results['away_score'])

winners = [home[i] if home_score[i]>away_score[i] else away[i] for i in range(len(home)) if home_score[i]!=away_score[i]]
losers = [home[i] if home_score[i]<away_score[i] else away[i] for i in range(len(home)) if home_score[i]!=away_score[i]]
ties = [home[i] for i in range(len(home)) if home_score[i]==away_score[i]]
ties += [away[i] for i in range(len(away)) if home_score[i]==away_score[i]]

table_winners = {}
for c in countrys:
    table_winners[c] = winners.count(c)

table_losers = {}
for c in countrys:
    table_losers[c] = losers.count(c)

table_ties = {}
for c in countrys:
    table_ties[c] = ties.count(c)

table_plays = {}
for c in countrys:
  table_plays[c] = table_winners[c] + table_losers[c] + table_ties[c]


table_result = []   # 0(tie), 1(win team 1), 2(win team 2)
for i in range(len(home_score)):
  if home_score[i] == away_score[i]:
    table_result.append(0)
  elif home_score[i] > away_score[i]:
    table_result.append(1)
  else:
    table_result.append(2)


'''
for i in sorted(table, key= lambda x: table[x], reverse=True):
  print(i + ' win: ', table[i])
'''


def get_partys_teams(t1,t2):
  first = results[results['home_team']==t1]
  second = first[first['away_team']==t2]
  third = results[results['home_team']==t2]
  fourth = third[third['away_team']==t1]

  a = second[second['home_score']>second['away_score']].shape[0]
  a += fourth[fourth['home_score']<fourth['away_score']].shape[0]

  b = second[second['home_score']<second['away_score']].shape[0]
  b += fourth[fourth['home_score']>fourth['away_score']].shape[0]

  c = second[second['home_score']==second['away_score']].shape[0]
  c += fourth[fourth['home_score']==fourth['away_score']].shape[0]
  return [a,b,c]

get_partys_teams("Spain", "Brazil"), get_partys_teams("Brazil", "Spain")

([2, 5, 2], [5, 2, 2])

In [117]:
import json
# table_1_vs_2 = {c+"_"+c2:get_partys_teams(c,c2) for c in countrys for c2 in countrys if c!=c2}
# with open("data_1vs2.json", "w") as write_file:
#     json.dump(table_1_vs_2, write_file)

with open("data_1vs2.json", "r") as read_file:
    table_1_vs_2 = json.load(read_file)

In [ ]:
table_1_vs_2['Spain_Brazil'], table_1_vs_2['Brazil_Spain']

([2, 5, 2], [5, 2, 2])

In [ ]:
np.mean(list(table_plays.values())), np.std(list(table_plays.values()))

(278.8607594936709, 270.4569496698867)

In [ ]:
max(table_plays.values()), len(home)

(1051, 44060)

In [118]:
def normalize(table, standar=True):
  mean = np.mean(list(table.values())) if standar else 0
  std =  np.std(list(table.values())) if standar else max(table.values())
  return mean, std

mean, std = normalize(table_plays)
played1 = [(table_plays[country]-mean)/std for country in home] 
played2 =  [(table_plays[country]-mean)/std for country in away]

mean, std = normalize(table_winners)
win1 =  [(table_winners[country]-mean)/std for country in home]
win2 = [(table_winners[country]-mean)/std for country in away]

mean, std = normalize(table_losers)
lose1 = [(table_losers[country]-mean)/std for country in home]
lose2 = [(table_losers[country]-mean)/std for country in away]


arr = []
for i in range(len(home)):
  arr.append(onehotencoder(countrys, home[i]) + onehotencoder(countrys, away[i]))
arr = np.array(arr)

titles = [country+' '+str(i) for i in range(1,3) for country in countrys]
onehot_countrys = pd.DataFrame(arr, columns=titles)

results['played 1'] = played1
results['played 2'] = played2
results['win 1'] = win1
results['win 2'] = win2
results['lose 1'] = lose1
results['lose 2'] = lose2

results['win_1_vs_2'] = results.apply(lambda x: table_1_vs_2[x['home_team']+"_"+x['away_team']][0], axis=1)
results['lose_1_vs_2'] = results.apply(lambda x: table_1_vs_2[x['away_team']+"_"+x['home_team']][0], axis=1)
results['tie_1_vs_2'] = results.apply(lambda x: table_1_vs_2[x['home_team']+"_"+x['away_team']][2], axis=1)
results['total_1_vs_2'] = results.apply(lambda x: x['win_1_vs_2']+ x['lose_1_vs_2'] + x['tie_1_vs_2'], axis=1)

#max_win_vs = max(results['win_1_vs_2'])
data_1_normalize = {}
data_1_normalize['win_1_vs_2']= [np.mean(list(results['win_1_vs_2'])), np.std(list(results['win_1_vs_2']))]
results['win_1_vs_2'] = results['win_1_vs_2'].map(lambda x: (x-data_1_normalize['win_1_vs_2'][0])/data_1_normalize['win_1_vs_2'][1])

#max_lose_vs = max(results['lose_1_vs_2'])
data_1_normalize['lose_1_vs_2']= [np.mean(list(results['lose_1_vs_2'])), np.std(list(results['lose_1_vs_2']))]
results['lose_1_vs_2'] = results['lose_1_vs_2'].map(lambda x: (x-data_1_normalize['lose_1_vs_2'][0])/data_1_normalize['lose_1_vs_2'][1])

#max_total_vs = max(results['total_1_vs_2'])
data_1_normalize['total_1_vs_2']= [np.mean(list(results['total_1_vs_2'])), np.std(list(results['total_1_vs_2']))]
results['total_1_vs_2'] = results['total_1_vs_2'].map(lambda x: (x-data_1_normalize['total_1_vs_2'][0])/data_1_normalize['total_1_vs_2'][1])

results['result'] = table_result
#results['difference'] = results.apply(lambda x: x['home_score'] - x['away_score'], axis=1)

results['neutral'] = results['neutral'].map(lambda x: 1 if x==True else 0)

results = pd.concat([results, onehot_countrys], axis=1)

results['date'] = results['date'].map(lambda x: (int(str(x)[:4])))
date_mean, date_std = np.mean(list(results['date'])), np.std(list(results['date']))
results['date'] = results['date'].map(lambda x: (x-date_mean)/date_std)

# model 1:
data_1 = results.copy()
data_1.where(data_1['home_score']!=data_1['away_score'] ,inplace=True)
data_1 = data_1.drop(['city', 'country', 'tournament', 'home_score','away_score', 'home_team', 
                      'away_team','tie_1_vs_2'], axis=1)
data_1 = data_1.dropna(axis=0)
data_1

,date,neutral,played 1,played 2,win 1,win 2,lose 1,lose 2,win_1_vs_2,lose_1_vs_2,...,Székely Land 2,Libya 2,Western Australia 2,Kosovo 2,Cameroon 2,Cuba 2,Brittany 2,Andalusia 2,Yorkshire 2,Philippines 2
1,-4.832257,0.0,2.829061,1.974951,3.813250,2.183598,1.012904,1.570149,3.387917,2.971062,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-4.791581,0.0,1.974951,2.829061,2.183598,3.813250,1.570149,1.012904,2.871342,3.498809,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-4.710229,0.0,1.974951,2.829061,2.183598,3.813250,1.570149,1.012904,2.871342,3.498809,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,-4.710229,0.0,1.974951,1.516468,2.183598,0.890844,1.570149,2.291291,4.507161,1.299862,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,-4.669553,0.0,2.829061,1.974951,3.813250,2.183598,1.012904,1.570149,3.387917,2.971062,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44052,1.228444,0.0,1.165210,-0.158475,0.937854,-0.378404,0.958272,0.226204,-0.486392,-0.635211,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44055,1.228444,0.0,2.045203,0.096648,1.564643,0.248385,2.498892,-0.221778,-0.572488,-0.459295,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44057,1.228444,0.0,-0.775949,0.410931,-0.636955,-0.268716,-0.844582,1.570149,-0.572488,-0.723169,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44058,1.228444,0.0,1.157815,1.457309,0.898679,0.506936,1.253284,2.608156,-0.228105,-0.459295,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44059,1.228444,1.0,-0.184357,-0.369230,-0.057175,-0.237377,-0.210852,-0.407527,0.202374,-0.195422,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
results

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,played 1,...,Székely Land 2,Libya 2,Western Australia 2,Kosovo 2,Cameroon 2,Cuba 2,Brittany 2,Andalusia 2,Yorkshire 2,Philippines 2
0,-4.872932,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,0,1.974951,...,0,0,0,0,0,0,0,0,0,0
1,-4.832257,England,Scotland,4.0,2.0,Friendly,London,England,0,2.829061,...,0,0,0,0,0,0,0,0,0,0
2,-4.791581,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,0,1.974951,...,0,0,0,0,0,0,0,0,0,0
3,-4.750905,England,Scotland,2.0,2.0,Friendly,London,England,0,2.829061,...,0,0,0,0,0,0,0,0,0,0
4,-4.710229,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,0,1.974951,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44055,1.228444,Norway,Serbia,0.0,2.0,UEFA Nations League,Oslo,Norway,0,2.045203,...,0,0,0,0,0,0,0,0,0,0
44056,1.228444,Sweden,Slovenia,1.0,1.0,UEFA Nations League,Stockholm,Sweden,0,2.854943,...,0,0,0,0,0,0,0,0,0,0
44057,1.228444,Kosovo,Cyprus,5.0,1.0,UEFA Nations League,Pristina,Kosovo,0,-0.775949,...,0,0,0,0,0,0,0,0,0,0
44058,1.228444,Greece,Northern Ireland,3.0,1.0,UEFA Nations League,Athens,Greece,0,1.157815,...,0,0,0,0,0,0,0,0,0,0
44059,1.228444,Fiji,Solomon Islands,NaN,NaN,MSG Prime Minister's Cup,Luganville,Vanuatu,1,-0.184357,...,0,0,0,0,0,0,0,0,0,0

In [119]:
# Data for model 1:
Y = data_1['result']
X = data_1.drop(['result'], axis=1)
X

,date,neutral,played 1,played 2,win 1,win 2,lose 1,lose 2,win_1_vs_2,lose_1_vs_2,...,Székely Land 2,Libya 2,Western Australia 2,Kosovo 2,Cameroon 2,Cuba 2,Brittany 2,Andalusia 2,Yorkshire 2,Philippines 2
1,-4.832257,0.0,2.829061,1.974951,3.813250,2.183598,1.012904,1.570149,3.387917,2.971062,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-4.791581,0.0,1.974951,2.829061,2.183598,3.813250,1.570149,1.012904,2.871342,3.498809,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-4.710229,0.0,1.974951,2.829061,2.183598,3.813250,1.570149,1.012904,2.871342,3.498809,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,-4.710229,0.0,1.974951,1.516468,2.183598,0.890844,1.570149,2.291291,4.507161,1.299862,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,-4.669553,0.0,2.829061,1.974951,3.813250,2.183598,1.012904,1.570149,3.387917,2.971062,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44052,1.228444,0.0,1.165210,-0.158475,0.937854,-0.378404,0.958272,0.226204,-0.486392,-0.635211,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44055,1.228444,0.0,2.045203,0.096648,1.564643,0.248385,2.498892,-0.221778,-0.572488,-0.459295,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44057,1.228444,0.0,-0.775949,0.410931,-0.636955,-0.268716,-0.844582,1.570149,-0.572488,-0.723169,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44058,1.228444,0.0,1.157815,1.457309,0.898679,0.506936,1.253284,2.608156,-0.228105,-0.459295,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44059,1.228444,1.0,-0.184357,-0.369230,-0.057175,-0.237377,-0.210852,-0.407527,0.202374,-0.195422,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Training NN-winner model

In [120]:
from keras.models import Sequential, load_model
from keras.layers import Dense
from sklearn.preprocessing import LabelBinarizer
import keras

label_binarizer = LabelBinarizer()
y_train = label_binarizer.fit_transform(Y)
y_train

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [1]])

In [11]:
import random
import numpy as np
import tensorflow as tf
import os

seed = 10
os.environ['PYTHONHASHSEED'] = str(seed)
random.seed(seed)
np.random.seed(seed)
tf.random.set_seed(seed)

num_classes = y_train.shape[1]
num_input = X.shape[1]

model_winner = Sequential()
model_winner.add(Dense(1024, input_dim=num_input, activation='relu'))
model_winner.add(Dense(2048, activation='relu'))
model_winner.add(Dense(1024, activation='relu'))
model_winner.add(Dense(512, activation='relu'))
model_winner.add(Dense(num_classes, activation='sigmoid'))

#model_winner.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
model_winner.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

model_winner.fit(X, y_train, epochs=200, batch_size=64)
model_winner.save('my_model_winner.h5')

Epoch 1/200
530/530 [==============================] - 5s 4ms/step - loss: 0.4895 - accuracy: 0.7641
Epoch 2/200
530/530 [==============================] - 2s 4ms/step - loss: 0.4485 - accuracy: 0.7879
Epoch 3/200
530/530 [==============================] - 2s 4ms/step - loss: 0.4269 - accuracy: 0.7974
Epoch 4/200
530/530 [==============================] - 4s 7ms/step - loss: 0.4105 - accuracy: 0.8034
Epoch 5/200
530/530 [==============================] - 2s 4ms/step - loss: 0.3955 - accuracy: 0.8114
Epoch 6/200
530/530 [==============================] - 2s 4ms/step - loss: 0.3785 - accuracy: 0.8162
Epoch 7/200
530/530 [==============================] - 2s 4ms/step - loss: 0.3613 - accuracy: 0.8225
Epoch 8/200
530/530 [==============================] - 2s 4ms/step - loss: 0.3474 - accuracy: 0.8278
Epoch 9/200
530/530 [==============================] - 2s 4ms/step - loss: 0.3345 - accuracy: 0.8324
Epoch 10/200
530/530 [==============================] - 2s 4ms/step - loss: 0.3236 - accuracy: 0.8348
Epoch 11/200
530/530 [==============================] - 3s 5ms/step - loss: 0.3114 - accuracy: 0.8419
Epoch 12/200
530/530 [==============================] - 2s 4ms/step - loss: 0.3034 - accuracy: 0.8460
Epoch 13/200
530/530 [==============================] - 2s 4ms/step - loss: 0.2917 - accuracy: 0.8522
Epoch 14/200
530/530 [==============================] - 2s 4ms/step - loss: 0.2829 - accuracy: 0.8540
Epoch 15/200
530/530 [==============================] - 2s 4ms/step - loss: 0.2733 - accuracy: 0.8592
Epoch 16/200
530/530 [==============================] - 2s 4ms/step - loss: 0.2660 - accuracy: 0.8638
Epoch 17/200
530/530 [==============================] - 2s 4ms/step - loss: 0.2591 - accuracy: 0.8661
Epoch 18/200
530/530 [==============================] - 2s 4ms/step - loss: 0.2546 - accuracy: 0.8705
Epoch 19/200
530/530 [==============================] - 2s 4ms/step - loss: 0.2498 - accuracy: 0.8717
Epoch 20/200
530/530 [==============================] - 2s 4ms/step - loss: 0.2436 - accuracy: 0.8743
Epoch 21/200
530/530 [==============================] - 2s 4ms/step - loss: 0.2378 - accuracy: 0.8765
Epoch 22/200
530/530 [==============================] - 2s 4ms/step - loss: 0.2307 - accuracy: 0.8811
Epoch 23/200
530/530 [==============================] - 2s 4ms/step - loss: 0.2298 - accuracy: 0.8818
Epoch 24/200
530/530 [==============================] - 2s 4ms/step - loss: 0.2268 - accuracy: 0.8821
Epoch 25/200
530/530 [==============================] - 2s 4ms/step - loss: 0.2209 - accuracy: 0.8856
Epoch 26/200
530/530 [==============================] - 2s 5ms/step - loss: 0.2178 - accuracy: 0.8867
Epoch 27/200
530/530 [==============================] - 2s 5ms/step - loss: 0.2144 - accuracy: 0.8888
Epoch 28/200
530/530 [==============================] - 2s 5ms/step - loss: 0.2092 - accuracy: 0.8919
Epoch 29/200
530/530 [==============================] - 2s 4ms/step - loss: 0.2070 - accuracy: 0.8916
Epoch 30/200
530/530 [==============================] - 2s 4ms/step - loss: 0.2052 - accuracy: 0.8935
Epoch 31/200
530/530 [==============================] - 2s 4ms/step - loss: 0.2023 - accuracy: 0.8942
Epoch 32/200
530/530 [==============================] - 2s 4ms/step - loss: 0.2015 - accuracy: 0.8961
Epoch 33/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1993 - accuracy: 0.8962
Epoch 34/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1956 - accuracy: 0.8975
Epoch 35/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1961 - accuracy: 0.8976
Epoch 36/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1913 - accuracy: 0.9002
Epoch 37/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1891 - accuracy: 0.9013
Epoch 38/200
530/530 [==============================] - 2s 5ms/step - loss: 0.1891 - accuracy: 0.9023
Epoch 39/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1839 - accuracy: 0.9031
Epoch 40/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1835 - accuracy: 0.9039
Epoch 41/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1838 - accuracy: 0.9048
Epoch 42/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1797 - accuracy: 0.9047
Epoch 43/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1781 - accuracy: 0.9070
Epoch 44/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1785 - accuracy: 0.9069
Epoch 45/200
530/530 [==============================] - 3s 5ms/step - loss: 0.1775 - accuracy: 0.9083
Epoch 46/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1770 - accuracy: 0.9095
Epoch 47/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1724 - accuracy: 0.9112
Epoch 48/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1717 - accuracy: 0.9103
Epoch 49/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1681 - accuracy: 0.9118
Epoch 50/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1694 - accuracy: 0.9118
Epoch 51/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1674 - accuracy: 0.9133
Epoch 52/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1673 - accuracy: 0.9133
Epoch 53/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1662 - accuracy: 0.9137
Epoch 54/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1626 - accuracy: 0.9149
Epoch 55/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1627 - accuracy: 0.9145
Epoch 56/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1626 - accuracy: 0.9146
Epoch 57/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1600 - accuracy: 0.9158
Epoch 58/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1564 - accuracy: 0.9171
Epoch 59/200
530/530 [==============================] - 3s 5ms/step - loss: 0.1604 - accuracy: 0.9172
Epoch 60/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1589 - accuracy: 0.9177
Epoch 61/200
530/530 [==============================] - 3s 5ms/step - loss: 0.1525 - accuracy: 0.9186
Epoch 62/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1557 - accuracy: 0.9182
Epoch 63/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1545 - accuracy: 0.9197
Epoch 64/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1557 - accuracy: 0.9185
Epoch 65/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1532 - accuracy: 0.9205
Epoch 66/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1507 - accuracy: 0.9209
Epoch 67/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1508 - accuracy: 0.9214
Epoch 68/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1514 - accuracy: 0.9210
Epoch 69/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1478 - accuracy: 0.9215
Epoch 70/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1470 - accuracy: 0.9229
Epoch 71/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1480 - accuracy: 0.9220
Epoch 72/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1503 - accuracy: 0.9237
Epoch 73/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1478 - accuracy: 0.9228
Epoch 74/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1424 - accuracy: 0.9247
Epoch 75/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1449 - accuracy: 0.9251
Epoch 76/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1438 - accuracy: 0.9250
Epoch 77/200
530/530 [==============================] - 2s 5ms/step - loss: 0.1416 - accuracy: 0.9264
Epoch 78/200
530/530 [==============================] - 2s 5ms/step - loss: 0.1393 - accuracy: 0.9266
Epoch 79/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1428 - accuracy: 0.9267
Epoch 80/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1393 - accuracy: 0.9273
Epoch 81/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1380 - accuracy: 0.9264
Epoch 82/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1399 - accuracy: 0.9285
Epoch 83/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1406 - accuracy: 0.9259
Epoch 84/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1360 - accuracy: 0.9290
Epoch 85/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1395 - accuracy: 0.9283
Epoch 86/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1371 - accuracy: 0.9300
Epoch 87/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1329 - accuracy: 0.9282
Epoch 88/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1364 - accuracy: 0.9293
Epoch 89/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1355 - accuracy: 0.9291
Epoch 90/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1319 - accuracy: 0.9306
Epoch 91/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1419 - accuracy: 0.9292
Epoch 92/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1320 - accuracy: 0.9299
Epoch 93/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1333 - accuracy: 0.9307
Epoch 94/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1285 - accuracy: 0.9328
Epoch 95/200
530/530 [==============================] - 3s 5ms/step - loss: 0.1330 - accuracy: 0.9314
Epoch 96/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1334 - accuracy: 0.9307
Epoch 97/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1276 - accuracy: 0.9323
Epoch 98/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1270 - accuracy: 0.9318
Epoch 99/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1277 - accuracy: 0.9324
Epoch 100/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1288 - accuracy: 0.9324
Epoch 101/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1258 - accuracy: 0.9335
Epoch 102/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1308 - accuracy: 0.9318
Epoch 103/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1250 - accuracy: 0.9343
Epoch 104/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1293 - accuracy: 0.9336
Epoch 105/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1255 - accuracy: 0.9343
Epoch 106/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1230 - accuracy: 0.9349
Epoch 107/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1230 - accuracy: 0.9353
Epoch 108/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1228 - accuracy: 0.9366
Epoch 109/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1246 - accuracy: 0.9357
Epoch 110/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1260 - accuracy: 0.9352
Epoch 111/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1270 - accuracy: 0.9332
Epoch 112/200
530/530 [==============================] - 3s 5ms/step - loss: 0.1224 - accuracy: 0.9348
Epoch 113/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1192 - accuracy: 0.9363
Epoch 114/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1207 - accuracy: 0.9367
Epoch 115/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1210 - accuracy: 0.9364
Epoch 116/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1197 - accuracy: 0.9374
Epoch 117/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1215 - accuracy: 0.9365
Epoch 118/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1234 - accuracy: 0.9363
Epoch 119/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1224 - accuracy: 0.9354
Epoch 120/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1190 - accuracy: 0.9364
Epoch 121/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1191 - accuracy: 0.9378
Epoch 122/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1180 - accuracy: 0.9379
Epoch 123/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1186 - accuracy: 0.9391
Epoch 124/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1170 - accuracy: 0.9382
Epoch 125/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1149 - accuracy: 0.9382
Epoch 126/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1182 - accuracy: 0.9385
Epoch 127/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1136 - accuracy: 0.9397
Epoch 128/200
530/530 [==============================] - 2s 5ms/step - loss: 0.1124 - accuracy: 0.9400
Epoch 129/200
530/530 [==============================] - 3s 5ms/step - loss: 0.1170 - accuracy: 0.9388
Epoch 130/200
530/530 [==============================] - 3s 5ms/step - loss: 0.1204 - accuracy: 0.9390
Epoch 131/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1161 - accuracy: 0.9395
Epoch 132/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1140 - accuracy: 0.9404
Epoch 133/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1129 - accuracy: 0.9407
Epoch 134/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1144 - accuracy: 0.9398
Epoch 135/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1139 - accuracy: 0.9410
Epoch 136/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1184 - accuracy: 0.9392
Epoch 137/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1102 - accuracy: 0.9409
Epoch 138/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1103 - accuracy: 0.9410
Epoch 139/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1125 - accuracy: 0.9420
Epoch 140/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1145 - accuracy: 0.9400
Epoch 141/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1114 - accuracy: 0.9428
Epoch 142/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1100 - accuracy: 0.9415
Epoch 143/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1100 - accuracy: 0.9422
Epoch 144/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1121 - accuracy: 0.9420
Epoch 145/200
530/530 [==============================] - 3s 5ms/step - loss: 0.1135 - accuracy: 0.9410
Epoch 146/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1116 - accuracy: 0.9425
Epoch 147/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1105 - accuracy: 0.9424
Epoch 148/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1072 - accuracy: 0.9434
Epoch 149/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1083 - accuracy: 0.9418
Epoch 150/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1069 - accuracy: 0.9445
Epoch 151/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1138 - accuracy: 0.9425
Epoch 152/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1059 - accuracy: 0.9443
Epoch 153/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1090 - accuracy: 0.9425
Epoch 154/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1132 - accuracy: 0.9435
Epoch 155/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1073 - accuracy: 0.9436
Epoch 156/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1042 - accuracy: 0.9439
Epoch 157/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1052 - accuracy: 0.9447
Epoch 158/200
530/530 [==============================] - 2s 5ms/step - loss: 0.1092 - accuracy: 0.9432
Epoch 159/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1062 - accuracy: 0.9438
Epoch 160/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1036 - accuracy: 0.9451
Epoch 161/200
530/530 [==============================] - 3s 5ms/step - loss: 0.1081 - accuracy: 0.9442
Epoch 162/200
530/530 [==============================] - 2s 5ms/step - loss: 0.1066 - accuracy: 0.9446
Epoch 163/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1042 - accuracy: 0.9449
Epoch 164/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1020 - accuracy: 0.9456
Epoch 165/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1089 - accuracy: 0.9448
Epoch 166/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1059 - accuracy: 0.9453
Epoch 167/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1026 - accuracy: 0.9466
Epoch 168/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1036 - accuracy: 0.9450
Epoch 169/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1067 - accuracy: 0.9451
Epoch 170/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1022 - accuracy: 0.9460
Epoch 171/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1025 - accuracy: 0.9469
Epoch 172/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1001 - accuracy: 0.9466
Epoch 173/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1010 - accuracy: 0.9452
Epoch 174/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1057 - accuracy: 0.9450
Epoch 175/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1050 - accuracy: 0.9452
Epoch 176/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1067 - accuracy: 0.9446
Epoch 177/200
530/530 [==============================] - 2s 5ms/step - loss: 0.1011 - accuracy: 0.9470
Epoch 178/200
530/530 [==============================] - 3s 5ms/step - loss: 0.1029 - accuracy: 0.9466
Epoch 179/200
530/530 [==============================] - 2s 4ms/step - loss: 0.0983 - accuracy: 0.9481
Epoch 180/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1021 - accuracy: 0.9460
Epoch 181/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1013 - accuracy: 0.9476
Epoch 182/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1040 - accuracy: 0.9469
Epoch 183/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1053 - accuracy: 0.9458
Epoch 184/200
530/530 [==============================] - 2s 4ms/step - loss: 0.0981 - accuracy: 0.9481
Epoch 185/200
530/530 [==============================] - 2s 4ms/step - loss: 0.0973 - accuracy: 0.9480
Epoch 186/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1074 - accuracy: 0.9456
Epoch 187/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1037 - accuracy: 0.9469
Epoch 188/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1010 - accuracy: 0.9470
Epoch 189/200
530/530 [==============================] - 2s 4ms/step - loss: 0.0954 - accuracy: 0.9483
Epoch 190/200
530/530 [==============================] - 2s 4ms/step - loss: 0.0983 - accuracy: 0.9486
Epoch 191/200
530/530 [==============================] - 2s 4ms/step - loss: 0.0954 - accuracy: 0.9492
Epoch 192/200
530/530 [==============================] - 2s 4ms/step - loss: 0.0959 - accuracy: 0.9487
Epoch 193/200
530/530 [==============================] - 2s 4ms/step - loss: 0.1009 - accuracy: 0.9481
Epoch 194/200
530/530 [==============================] - 3s 5ms/step - loss: 0.1001 - accuracy: 0.9480
Epoch 195/200
530/530 [==============================] - 2s 4ms/step - loss: 0.0995 - accuracy: 0.9484
Epoch 196/200

In [121]:
model_winner.fit(X, y_train, epochs=50, batch_size=64)
model_winner.save('my_model_winner.h5')

Epoch 1/50
530/530 [==============================] - 3s 4ms/step - loss: 0.0990 - accuracy: 0.9484
Epoch 2/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0980 - accuracy: 0.9492
Epoch 3/50
530/530 [==============================] - 3s 5ms/step - loss: 0.0975 - accuracy: 0.9494
Epoch 4/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0951 - accuracy: 0.9493
Epoch 5/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0919 - accuracy: 0.9509
Epoch 6/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0952 - accuracy: 0.9496
Epoch 7/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0966 - accuracy: 0.9489
Epoch 8/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0951 - accuracy: 0.9495
Epoch 9/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0966 - accuracy: 0.9495
Epoch 10/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0945 - accuracy: 0.9507
Epoch 11/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0928 - accuracy: 0.9502
Epoch 12/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0954 - accuracy: 0.9498
Epoch 13/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0956 - accuracy: 0.9491
Epoch 14/50
530/530 [==============================] - 3s 5ms/step - loss: 0.0981 - accuracy: 0.9495
Epoch 15/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0997 - accuracy: 0.9504
Epoch 16/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0953 - accuracy: 0.9498
Epoch 17/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0994 - accuracy: 0.9502
Epoch 18/50
530/530 [==============================] - 2s 4ms/step - loss: 0.1033 - accuracy: 0.9495
Epoch 19/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0965 - accuracy: 0.9500
Epoch 20/50
530/530 [==============================] - 3s 5ms/step - loss: 0.0900 - accuracy: 0.9507
Epoch 21/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0886 - accuracy: 0.9522
Epoch 22/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0907 - accuracy: 0.9511
Epoch 23/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0930 - accuracy: 0.9518
Epoch 24/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0918 - accuracy: 0.9511
Epoch 25/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0910 - accuracy: 0.9512
Epoch 26/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0939 - accuracy: 0.9514
Epoch 27/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0966 - accuracy: 0.9491
Epoch 28/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0937 - accuracy: 0.9503
Epoch 29/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0890 - accuracy: 0.9518
Epoch 30/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0911 - accuracy: 0.9511
Epoch 31/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0885 - accuracy: 0.9529
Epoch 32/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0890 - accuracy: 0.9523
Epoch 33/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0937 - accuracy: 0.9500
Epoch 34/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0912 - accuracy: 0.9512
Epoch 35/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0898 - accuracy: 0.9527
Epoch 36/50
530/530 [==============================] - 3s 5ms/step - loss: 0.0916 - accuracy: 0.9510
Epoch 37/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0965 - accuracy: 0.9513
Epoch 38/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0904 - accuracy: 0.9520
Epoch 39/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0890 - accuracy: 0.9526
Epoch 40/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0890 - accuracy: 0.9520
Epoch 41/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0882 - accuracy: 0.9512
Epoch 42/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0923 - accuracy: 0.9517
Epoch 43/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0952 - accuracy: 0.9514
Epoch 44/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0929 - accuracy: 0.9530
Epoch 45/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0898 - accuracy: 0.9514
Epoch 46/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0921 - accuracy: 0.9519
Epoch 47/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0867 - accuracy: 0.9542
Epoch 48/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0886 - accuracy: 0.9537
Epoch 49/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0892 - accuracy: 0.9531
Epoch 50/50
530/530 [==============================] - 2s 4ms/step - loss: 0.0883 - accuracy: 0.9530

In [122]:
def convert_input_winner(country_1, country_2, paises=countrys, house='Qatar', year=2022):
  out = [(year-date_mean)/date_std] # date is 2022
  #out = []
  out.append(0 if country_1==house else 1)  # neutral: True/False : si jugarán en un lugar neutro, como es el mundial, todos juegan así.

  mean, std = normalize(table_plays)
  out.append((table_plays[country_1]-mean)/std)
  out.append((table_plays[country_2]-mean)/std)

  mean, std = normalize(table_winners)
  out.append((table_winners[country_1]-mean)/std)
  out.append((table_winners[country_2]-mean)/std)
  
  mean, std = normalize(table_losers)
  out.append((table_losers[country_1]-mean)/std)
  out.append((table_losers[country_2]-mean)/std)

  reply = table_1_vs_2[country_1+"_"+country_2]
  out.append((reply[0]-data_1_normalize['win_1_vs_2'][0])/data_1_normalize['win_1_vs_2'][1])
  out.append((reply[1]-data_1_normalize['lose_1_vs_2'][0])/data_1_normalize['lose_1_vs_2'][1])
  out.append((sum(reply)-data_1_normalize['total_1_vs_2'][0])/data_1_normalize['total_1_vs_2'][1])

  out += onehotencoder(paises,country_1) + onehotencoder(paises, country_2)

  return np.array([out])

test = convert_input_winner("Bolivia", "Brazil")
test[0][:25]

array([ 1.22844363,  1.        ,  0.77328107,  2.72553263,  0.01333911,
        4.25983767,  1.71219249,  0.57584825, -0.31420063,  1.29986219,
        0.36971639,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ])

In [123]:
model_winner = load_model('my_model_winner.h5')
test = convert_input_winner("Brazil", "Peru")
print(model_winner.predict(test))
test = convert_input_winner("Peru", "Brazil")
model_winner.predict(test)

1/1 [==============================] - 0s 55ms/step
[[0.4534294]]
1/1 [==============================] - 0s 13ms/step

array([[1.]], dtype=float32)

In [124]:
def predict_winner(country_1, country_2, model, tie = True, ver=False, year=2022):
  party_1 = model.predict(convert_input_winner(country_1, country_2, year=year), verbose=0)[0][0]
  party_2 = model.predict(convert_input_winner(country_2, country_1, year=year), verbose=0)[0][0]
  if ver:
    print(party_1, party_2)
  if (party_1<0.51) == (party_2<0.51):
    if tie:
      return 'Tie'
    else:
      if party_1>party_2:
        return country_2
      return country_1
  elif (party_1<0.51) and (party_2>0.51):
    return country_1
  return country_2

predict_winner("Brazil", "Peru", model_winner,False), predict_winner("Argentina", "Peru", model_winner, False, True), predict_winner("Peru","Argentina", model_winner, False, True)

0.22009462 1.0
1.0 0.22009462

('Brazil', 'Argentina', 'Argentina')

In [ ]:
test = pd.read_csv("/content/InternationalFootballResults_1872to2022_shootouts.csv")
c = list(test['home_team'])
c2 = list(test['away_team'])
w = list(test['winner'])
d = [int(i[:4]) for i in list(test['date'])]

replys = [True if predict_winner(c[i],c2[i], model_winner, tie=False, year=d[i])==w[i] else False for i in range(len(c))]
replys.count(True)/len(replys)

# Training NN-gols model

In [125]:
# data for model 2:
results = pd.read_csv("InternationalFootballResults_1872to2022_results.csv")

home = list(results['home_team'])
home_score = list(results['home_score'])

away = list(results['away_team'])
away_score = list(results['away_score'])

home,away = home+away, away+home
home_score,away_score = home_score+away_score, away_score+home_score

winners = [home[i] if home_score[i]>away_score[i] else away[i] for i in range(len(home)) if home_score[i]!=away_score[i]]
losers = [home[i] if home_score[i]<away_score[i] else away[i] for i in range(len(home)) if home_score[i]!=away_score[i]]
ties = [home[i] for i in range(len(home)) if home_score[i]==away_score[i]]
ties += [away[i] for i in range(len(away)) if home_score[i]==away_score[i]]

table_winners = {}
for c in countrys:
    table_winners[c] = winners.count(c)//2

table_losers = {}
for c in countrys:
    table_losers[c] = losers.count(c)//2

table_ties = {}
for c in countrys:
    table_ties[c] = ties.count(c)//2

table_plays = {}
for c in countrys:
  table_plays[c] = table_winners[c] + table_losers[c] + table_ties[c]


table_result = []   # 0(tie), 1(win team 1), 2(win team 2)
for i in range(len(home_score)):
  if home_score[i] == away_score[i]:
    table_result.append(0)
  elif home_score[i] > away_score[i]:
    table_result.append(1)
  else:
    table_result.append(2)

mean, std = normalize(table_plays)
played1 = [(table_plays[country]-mean)/std for country in home]
played2 =  [(table_plays[country]-mean)/std for country in away]

mean, std = normalize(table_winners)
win1 =  [(table_winners[country]-mean)/std for country in home]
win2 = [(table_winners[country]-mean)/std for country in away]

mean, std = normalize(table_losers)
lose1 = [(table_losers[country]-mean)/std for country in home]
lose2 = [(table_losers[country]-mean)/std for country in away]

mean, std = normalize(table_ties)
tie1 = [(table_ties[country]-mean)/std for country in home]
tie2 = [(table_ties[country]-mean)/std for country in away]

arr = []
for i in range(len(home)):
  arr.append(onehotencoder(countrys, home[i]) + onehotencoder(countrys, away[i]))
arr = np.array(arr)

titles = [country+' '+str(i) for i in range(1,3) for country in countrys]
onehot_countrys = pd.DataFrame(arr, columns=titles)

results_2 = pd.concat([results, results], axis=0)

results_2['played 1'] = played1
results_2['played 2'] = played2
results_2['win 1'] = win1
results_2['win 2'] = win2
results_2['lose 1'] = lose1
results_2['lose 2'] = lose2
results_2['tie 1'] = tie1
results_2['tie 2'] = tie2


results_2['win_1_vs_2'] = results_2.apply(lambda x: table_1_vs_2[x['home_team']+"_"+x['away_team']][0], axis=1)
results_2['lose_1_vs_2'] = results_2.apply(lambda x: table_1_vs_2[x['away_team']+"_"+x['home_team']][0], axis=1)
results_2['tie_1_vs_2'] = results_2.apply(lambda x: table_1_vs_2[x['home_team']+"_"+x['away_team']][2], axis=1)
results_2['total_1_vs_2'] = results_2.apply(lambda x: x['win_1_vs_2']+ x['lose_1_vs_2'] + x['tie_1_vs_2'], axis=1)

data_2_normalize = {}
data_2_normalize['win_1_vs_2']= [np.mean(list(results_2['win_1_vs_2'])), np.std(list(results_2['win_1_vs_2']))]
results_2['win_1_vs_2'] = results_2['win_1_vs_2'].map(lambda x: (x-data_2_normalize['win_1_vs_2'][0])/data_2_normalize['win_1_vs_2'][1])

data_2_normalize['lose_1_vs_2']= [np.mean(list(results_2['lose_1_vs_2'])), np.std(list(results_2['lose_1_vs_2']))]
results_2['lose_1_vs_2'] = results_2['lose_1_vs_2'].map(lambda x: (x-data_2_normalize['lose_1_vs_2'][0])/data_2_normalize['lose_1_vs_2'][1])

data_2_normalize['tie_1_vs_2']= [np.mean(list(results_2['tie_1_vs_2'])), np.std(list(results_2['tie_1_vs_2']))]
results_2['tie_1_vs_2'] = results_2['tie_1_vs_2'].map(lambda x: (x-data_2_normalize['tie_1_vs_2'][0])/data_2_normalize['tie_1_vs_2'][1])

data_2_normalize['total_1_vs_2']= [np.mean(list(results_2['total_1_vs_2'])), np.std(list(results_2['total_1_vs_2']))]
results_2['total_1_vs_2'] = results_2['total_1_vs_2'].map(lambda x: (x-data_2_normalize['total_1_vs_2'][0])/data_2_normalize['total_1_vs_2'][1])

results_2['result'] = table_result
#results_2['difference'] = results_2.apply(lambda x: x['home_score'] - x['away_score'], axis=1)
results_2['gols team 1'] = home_score

results_2['neutral'] = results_2['neutral'].map(lambda x: 1 if x==True else 0)

results_2['date'] = results_2['date'].map(lambda x: (int(str(x)[:4])))
date_mean, date_std = np.mean(list(results_2['date'])), np.std(list(results_2['date']))
results_2['date'] = results_2['date'].map(lambda x: (x-date_mean)/date_std)

#print(results_2.shape, onehot_countrys.shape)
results_2.reset_index(inplace=True, drop=True)
onehot_countrys.reset_index(inplace=True, drop=True)
results_2 = pd.concat([results_2, onehot_countrys], axis=1)

data_2 = results_2.drop(['city', 'country', 'tournament','home_score', 'away_score', 'home_team', 'away_team'], axis=1)

data_2

,date,neutral,played 1,played 2,win 1,win 2,lose 1,lose 2,tie 1,tie 2,...,Székely Land 2,Libya 2,Western Australia 2,Kosovo 2,Cameroon 2,Cuba 2,Brittany 2,Andalusia 2,Yorkshire 2,Philippines 2
0,-4.872932,0,1.974957,2.829060,2.183609,3.813252,1.570162,1.012924,1.668278,2.773155,...,0,0,0,0,0,0,0,0,0,0
1,-4.832257,0,2.829060,1.974957,3.813252,2.183609,1.012924,1.570162,2.773155,1.668278,...,0,0,0,0,0,0,0,0,0,0
2,-4.791581,0,1.974957,2.829060,2.183609,3.813252,1.570162,1.012924,1.668278,2.773155,...,0,0,0,0,0,0,0,0,0,0
3,-4.750905,0,2.829060,1.974957,3.813252,2.183609,1.012924,1.570162,2.773155,1.668278,...,0,0,0,0,0,0,0,0,0,0
4,-4.710229,0,1.974957,2.829060,2.183609,3.813252,1.570162,1.012924,1.668278,2.773155,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88115,1.228444,0,0.096671,2.045208,0.248408,1.564658,-0.221740,2.498891,0.219993,1.862378,...,0,0,0,0,0,0,0,0,0,0
88116,1.228444,0,-0.014251,2.854942,-0.088489,3.202136,0.007711,2.192957,0.100546,2.429747,...,0,0,0,0,0,0,0,0,0,0
88117,1.228444,0,0.410951,-0.775919,-0.268690,-0.636926,1.570162,-0.844535,0.025893,-0.765438,...,0,0,0,1,0,0,0,0,0,0
88118,1.228444,0,1.457319,1.157829,0.506958,0.898699,2.608154,1.253301,1.354732,1.250216,...,0,0,0,0,0,0,0,0,0,0
88119,1.228444,1,-0.376598,-0.184332,-0.245185,-0.057150,-0.418412,-0.210814,-0.481754,-0.347377,...,0,0,0,0,0,0,0,0,0,0

In [126]:
Y = data_2['gols team 1']
X = data_2.drop(['gols team 1','result'], axis=1)
X.insert(X.shape[1], "party tie", data_2['result'].map(lambda x: 0 if x!=0 else 1))
X.insert(X.shape[1], "win country 1", data_2['result'].map(lambda x: 0 if x!=1 else 1))
X.insert(X.shape[1], "win country 2", data_2['result'].map(lambda x: 0 if x!=2 else 1))
X.head()

,date,neutral,played 1,played 2,win 1,win 2,lose 1,lose 2,tie 1,tie 2,...,Kosovo 2,Cameroon 2,Cuba 2,Brittany 2,Andalusia 2,Yorkshire 2,Philippines 2,party tie,win country 1,win country 2
0,-4.872932,0,1.974957,2.829060,2.183609,3.813252,1.570162,1.012924,1.668278,2.773155,...,0,0,0,0,0,0,0,1,0,0
1,-4.832257,0,2.829060,1.974957,3.813252,2.183609,1.012924,1.570162,2.773155,1.668278,...,0,0,0,0,0,0,0,0,1,0
2,-4.791581,0,1.974957,2.829060,2.183609,3.813252,1.570162,1.012924,1.668278,2.773155,...,0,0,0,0,0,0,0,0,1,0
3,-4.750905,0,2.829060,1.974957,3.813252,2.183609,1.012924,1.570162,2.773155,1.668278,...,0,0,0,0,0,0,0,1,0,0
4,-4.710229,0,1.974957,2.829060,2.183609,3.813252,1.570162,1.012924,1.668278,2.773155,...,0,0,0,0,0,0,0,0,1,0

In [127]:
Y = Y.map(lambda x: abs(x))
Y

0        0.0
1        4.0
2        2.0
3        2.0
4        3.0
        ...
88115    2.0
88116    1.0
88117    1.0
88118    1.0
88119    NaN
Name: gols team 1, Length: 88120, dtype: float64

In [128]:
Y = Y.fillna(0)
Y

0        0.0
1        4.0
2        2.0
3        2.0
4        3.0
        ...
88115    2.0
88116    1.0
88117    1.0
88118    1.0
88119    0.0
Name: gols team 1, Length: 88120, dtype: float64

In [129]:
from keras.models import Sequential, load_model
from keras.layers import Dense
from sklearn.preprocessing import LabelBinarizer
import keras

label_binarizer = LabelBinarizer()
y_train = label_binarizer.fit_transform(Y)
y_train[:50]

array([[1, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [21]:
y_train.shape

(88120, 26)

In [22]:
num_classes = y_train.shape[1]
num_input = X.shape[1]

model = Sequential()
model.add(Dense(1024, input_dim=num_input, activation='relu'))
model.add(Dense(2048, activation='relu'))
model.add(Dense(1024, activation='relu'))
model.add(Dense(num_classes, activation='softmax'))

model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

model.fit(X, y_train, epochs=100, batch_size=128)

Epoch 1/100
689/689 [==============================] - 3s 4ms/step - loss: 1.2893 - accuracy: 0.4411
Epoch 2/100
689/689 [==============================] - 3s 4ms/step - loss: 1.2446 - accuracy: 0.4523
Epoch 3/100
689/689 [==============================] - 3s 4ms/step - loss: 1.2286 - accuracy: 0.4589
Epoch 4/100
689/689 [==============================] - 3s 4ms/step - loss: 1.2105 - accuracy: 0.4643
Epoch 5/100
689/689 [==============================] - 3s 5ms/step - loss: 1.1890 - accuracy: 0.4743
Epoch 6/100
689/689 [==============================] - 3s 4ms/step - loss: 1.1596 - accuracy: 0.4871
Epoch 7/100
689/689 [==============================] - 3s 4ms/step - loss: 1.1197 - accuracy: 0.5049
Epoch 8/100
689/689 [==============================] - 3s 4ms/step - loss: 1.0712 - accuracy: 0.5274
Epoch 9/100
689/689 [==============================] - 3s 4ms/step - loss: 1.0174 - accuracy: 0.5508
Epoch 10/100
689/689 [==============================] - 3s 4ms/step - loss: 0.9591 - accuracy: 0.5733
Epoch 11/100
689/689 [==============================] - 3s 4ms/step - loss: 0.9044 - accuracy: 0.5952
Epoch 12/100
689/689 [==============================] - 3s 4ms/step - loss: 0.8536 - accuracy: 0.6117
Epoch 13/100
689/689 [==============================] - 3s 4ms/step - loss: 0.8046 - accuracy: 0.6324
Epoch 14/100
689/689 [==============================] - 3s 5ms/step - loss: 0.7599 - accuracy: 0.6481
Epoch 15/100
689/689 [==============================] - 3s 4ms/step - loss: 0.7183 - accuracy: 0.6655
Epoch 16/100
689/689 [==============================] - 3s 4ms/step - loss: 0.6798 - accuracy: 0.6779
Epoch 17/100
689/689 [==============================] - 3s 4ms/step - loss: 0.6521 - accuracy: 0.6896
Epoch 18/100
689/689 [==============================] - 3s 4ms/step - loss: 0.6220 - accuracy: 0.7026
Epoch 19/100
689/689 [==============================] - 3s 4ms/step - loss: 0.5952 - accuracy: 0.7114
Epoch 20/100
689/689 [==============================] - 3s 4ms/step - loss: 0.5763 - accuracy: 0.7219
Epoch 21/100
689/689 [==============================] - 3s 4ms/step - loss: 0.5537 - accuracy: 0.7306
Epoch 22/100
689/689 [==============================] - 3s 4ms/step - loss: 0.5373 - accuracy: 0.7375
Epoch 23/100
689/689 [==============================] - 3s 4ms/step - loss: 0.5214 - accuracy: 0.7450
Epoch 24/100
689/689 [==============================] - 3s 4ms/step - loss: 0.5026 - accuracy: 0.7528
Epoch 25/100
689/689 [==============================] - 3s 4ms/step - loss: 0.4918 - accuracy: 0.7582
Epoch 26/100
689/689 [==============================] - 3s 4ms/step - loss: 0.4769 - accuracy: 0.7644
Epoch 27/100
689/689 [==============================] - 3s 4ms/step - loss: 0.4681 - accuracy: 0.7696
Epoch 28/100
689/689 [==============================] - 3s 4ms/step - loss: 0.4558 - accuracy: 0.7740
Epoch 29/100
689/689 [==============================] - 3s 4ms/step - loss: 0.4444 - accuracy: 0.7803
Epoch 30/100
689/689 [==============================] - 3s 4ms/step - loss: 0.4397 - accuracy: 0.7827
Epoch 31/100
689/689 [==============================] - 3s 5ms/step - loss: 0.4293 - accuracy: 0.7880
Epoch 32/100
689/689 [==============================] - 3s 5ms/step - loss: 0.4173 - accuracy: 0.7918
Epoch 33/100
689/689 [==============================] - 3s 4ms/step - loss: 0.4112 - accuracy: 0.7970
Epoch 34/100
689/689 [==============================] - 3s 4ms/step - loss: 0.4023 - accuracy: 0.7996
Epoch 35/100
689/689 [==============================] - 3s 4ms/step - loss: 0.3988 - accuracy: 0.8004
Epoch 36/100
689/689 [==============================] - 3s 4ms/step - loss: 0.3904 - accuracy: 0.8047
Epoch 37/100
689/689 [==============================] - 3s 4ms/step - loss: 0.3854 - accuracy: 0.8071
Epoch 38/100
689/689 [==============================] - 3s 4ms/step - loss: 0.3828 - accuracy: 0.8109
Epoch 39/100
689/689 [==============================] - 3s 4ms/step - loss: 0.3745 - accuracy: 0.8137
Epoch 40/100
689/689 [==============================] - 3s 4ms/step - loss: 0.3639 - accuracy: 0.8163
Epoch 41/100
689/689 [==============================] - 3s 4ms/step - loss: 0.3640 - accuracy: 0.8195
Epoch 42/100
689/689 [==============================] - 3s 4ms/step - loss: 0.3616 - accuracy: 0.8197
Epoch 43/100
689/689 [==============================] - 3s 4ms/step - loss: 0.3503 - accuracy: 0.8236
Epoch 44/100
689/689 [==============================] - 3s 5ms/step - loss: 0.3472 - accuracy: 0.8270
Epoch 45/100
689/689 [==============================] - 3s 4ms/step - loss: 0.3456 - accuracy: 0.8270
Epoch 46/100
689/689 [==============================] - 3s 4ms/step - loss: 0.3455 - accuracy: 0.8289
Epoch 47/100
689/689 [==============================] - 3s 4ms/step - loss: 0.3359 - accuracy: 0.8324
Epoch 48/100
689/689 [==============================] - 3s 4ms/step - loss: 0.3306 - accuracy: 0.8341
Epoch 49/100
689/689 [==============================] - 3s 4ms/step - loss: 0.3241 - accuracy: 0.8370
Epoch 50/100
689/689 [==============================] - 3s 4ms/step - loss: 0.3221 - accuracy: 0.8383
Epoch 51/100
689/689 [==============================] - 3s 4ms/step - loss: 0.3228 - accuracy: 0.8384
Epoch 52/100
689/689 [==============================] - 3s 4ms/step - loss: 0.3190 - accuracy: 0.8394
Epoch 53/100
689/689 [==============================] - 3s 4ms/step - loss: 0.3209 - accuracy: 0.8404
Epoch 54/100
689/689 [==============================] - 3s 4ms/step - loss: 0.3099 - accuracy: 0.8452
Epoch 55/100
689/689 [==============================] - 3s 4ms/step - loss: 0.3103 - accuracy: 0.8456
Epoch 56/100
689/689 [==============================] - 3s 4ms/step - loss: 0.3057 - accuracy: 0.8453
Epoch 57/100
689/689 [==============================] - 3s 5ms/step - loss: 0.3056 - accuracy: 0.8484
Epoch 58/100
689/689 [==============================] - 3s 4ms/step - loss: 0.3019 - accuracy: 0.8490
Epoch 59/100
689/689 [==============================] - 3s 4ms/step - loss: 0.2966 - accuracy: 0.8505
Epoch 60/100
689/689 [==============================] - 3s 4ms/step - loss: 0.2935 - accuracy: 0.8530
Epoch 61/100
689/689 [==============================] - 3s 4ms/step - loss: 0.2936 - accuracy: 0.8534
Epoch 62/100
689/689 [==============================] - 3s 4ms/step - loss: 0.2882 - accuracy: 0.8548
Epoch 63/100
689/689 [==============================] - 3s 4ms/step - loss: 0.2896 - accuracy: 0.8550
Epoch 64/100
689/689 [==============================] - 3s 4ms/step - loss: 0.2881 - accuracy: 0.8556
Epoch 65/100
689/689 [==============================] - 3s 4ms/step - loss: 0.2859 - accuracy: 0.8570
Epoch 66/100
689/689 [==============================] - 3s 5ms/step - loss: 0.2796 - accuracy: 0.8596
Epoch 67/100
689/689 [==============================] - 8s 12ms/step - loss: 0.2786 - accuracy: 0.8606
Epoch 68/100
689/689 [==============================] - 5s 7ms/step - loss: 0.2747 - accuracy: 0.8617
Epoch 69/100
689/689 [==============================] - 4s 6ms/step - loss: 0.2683 - accuracy: 0.8646
Epoch 70/100
689/689 [==============================] - 4s 5ms/step - loss: 0.2722 - accuracy: 0.8629
Epoch 71/100
689/689 [==============================] - 6s 8ms/step - loss: 0.2713 - accuracy: 0.8642
Epoch 72/100
689/689 [==============================] - 4s 5ms/step - loss: 0.2735 - accuracy: 0.8649
Epoch 73/100
689/689 [==============================] - 3s 4ms/step - loss: 0.2647 - accuracy: 0.8670
Epoch 74/100
689/689 [==============================] - 4s 6ms/step - loss: 0.2572 - accuracy: 0.8691
Epoch 75/100
689/689 [==============================] - 3s 4ms/step - loss: 0.2599 - accuracy: 0.8692
Epoch 76/100
689/689 [==============================] - 3s 4ms/step - loss: 0.2671 - accuracy: 0.8679
Epoch 77/100
689/689 [==============================] - 3s 5ms/step - loss: 0.2584 - accuracy: 0.8695
Epoch 78/100
689/689 [==============================] - 3s 4ms/step - loss: 0.2620 - accuracy: 0.8695
Epoch 79/100
689/689 [==============================] - 3s 4ms/step - loss: 0.2583 - accuracy: 0.8709
Epoch 80/100
689/689 [==============================] - 3s 4ms/step - loss: 0.2546 - accuracy: 0.8723
Epoch 81/100
689/689 [==============================] - 3s 4ms/step - loss: 0.2472 - accuracy: 0.8753
Epoch 82/100
689/689 [==============================] - 3s 4ms/step - loss: 0.2548 - accuracy: 0.8729
Epoch 83/100
689/689 [==============================] - 3s 4ms/step - loss: 0.2506 - accuracy: 0.8747
Epoch 84/100
689/689 [==============================] - 3s 4ms/step - loss: 0.2417 - accuracy: 0.8777
Epoch 85/100
689/689 [==============================] - 3s 4ms/step - loss: 0.2523 - accuracy: 0.8753
Epoch 86/100
689/689 [==============================] - 3s 4ms/step - loss: 0.2558 - accuracy: 0.8746
Epoch 87/100
689/689 [==============================] - 3s 4ms/step - loss: 0.2393 - accuracy: 0.8793
Epoch 88/100
689/689 [==============================] - 3s 4ms/step - loss: 0.2360 - accuracy: 0.8803
Epoch 89/100
689/689 [==============================] - 3s 5ms/step - loss: 0.2391 - accuracy: 0.8791
Epoch 90/100
689/689 [==============================] - 3s 4ms/step - loss: 0.2453 - accuracy: 0.8778
Epoch 91/100
689/689 [==============================] - 3s 4ms/step - loss: 0.2420 - accuracy: 0.8807
Epoch 92/100
689/689 [==============================] - 3s 4ms/step - loss: 0.2407 - accuracy: 0.8797
Epoch 93/100
689/689 [==============================] - 3s 4ms/step - loss: 0.2437 - accuracy: 0.8794
Epoch 94/100
689/689 [==============================] - 3s 4ms/step - loss: 0.2303 - accuracy: 0.8837
Epoch 95/100
689/689 [==============================] - 3s 4ms/step - loss: 0.2358 - accuracy: 0.8839
Epoch 96/100
689/689 [==============================] - 3s 4ms/step - loss: 0.2340 - accuracy: 0.8841
Epoch 97/100
689/689 [==============================] - 3s 4ms/step - loss: 0.2306 - accuracy: 0.8842
Epoch 98/100
689/689 [==============================] - 3s 4ms/step - loss: 0.2300 - accuracy: 0.8847
Epoch 99/100
689/689 [==============================] - 3s 4ms/step - loss: 0.2293 - accuracy: 0.8851
Epoch 100/100
689/689 [==============================] - 3s 4ms/step - loss: 0.2286 - accuracy: 0.8854

In [53]:
model.fit(X, y_train, epochs=50, batch_size=128)

Epoch 1/50
689/689 [==============================] - 4s 6ms/step - loss: 0.2308 - accuracy: 0.8851
Epoch 2/50
689/689 [==============================] - 3s 4ms/step - loss: 0.2229 - accuracy: 0.8883
Epoch 3/50
689/689 [==============================] - 3s 4ms/step - loss: 0.2262 - accuracy: 0.8864
Epoch 4/50
689/689 [==============================] - 3s 4ms/step - loss: 0.2323 - accuracy: 0.8860
Epoch 5/50
689/689 [==============================] - 3s 4ms/step - loss: 0.2248 - accuracy: 0.8890
Epoch 6/50
689/689 [==============================] - 3s 4ms/step - loss: 0.2171 - accuracy: 0.8902
Epoch 7/50
689/689 [==============================] - 3s 4ms/step - loss: 0.2162 - accuracy: 0.8903
Epoch 8/50
689/689 [==============================] - 3s 4ms/step - loss: 0.2207 - accuracy: 0.8900
Epoch 9/50
689/689 [==============================] - 3s 4ms/step - loss: 0.2224 - accuracy: 0.8902
Epoch 10/50
689/689 [==============================] - 3s 4ms/step - loss: 0.2167 - accuracy: 0.8923
Epoch 11/50
689/689 [==============================] - 3s 4ms/step - loss: 0.2142 - accuracy: 0.8916
Epoch 12/50
689/689 [==============================] - 3s 5ms/step - loss: 0.2148 - accuracy: 0.8924
Epoch 13/50
689/689 [==============================] - 3s 4ms/step - loss: 0.2131 - accuracy: 0.8937
Epoch 14/50
689/689 [==============================] - 3s 4ms/step - loss: 0.2164 - accuracy: 0.8913
Epoch 15/50
689/689 [==============================] - 3s 4ms/step - loss: 0.2178 - accuracy: 0.8927
Epoch 16/50
689/689 [==============================] - 3s 4ms/step - loss: 0.2164 - accuracy: 0.8927
Epoch 17/50
689/689 [==============================] - 3s 4ms/step - loss: 0.2140 - accuracy: 0.8937
Epoch 18/50
689/689 [==============================] - 3s 4ms/step - loss: 0.2133 - accuracy: 0.8946
Epoch 19/50
689/689 [==============================] - 3s 4ms/step - loss: 0.2063 - accuracy: 0.8964
Epoch 20/50
689/689 [==============================] - 3s 4ms/step - loss: 0.2080 - accuracy: 0.8967
Epoch 21/50
689/689 [==============================] - 3s 4ms/step - loss: 0.2079 - accuracy: 0.8957
Epoch 22/50
689/689 [==============================] - 3s 4ms/step - loss: 0.2139 - accuracy: 0.8953
Epoch 23/50
689/689 [==============================] - 3s 4ms/step - loss: 0.2078 - accuracy: 0.8968
Epoch 24/50
689/689 [==============================] - 3s 4ms/step - loss: 0.2181 - accuracy: 0.8948
Epoch 25/50
689/689 [==============================] - 3s 5ms/step - loss: 0.2075 - accuracy: 0.8984
Epoch 26/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1966 - accuracy: 0.9002
Epoch 27/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1977 - accuracy: 0.9009
Epoch 28/50
689/689 [==============================] - 3s 4ms/step - loss: 0.2049 - accuracy: 0.8990
Epoch 29/50
689/689 [==============================] - 3s 4ms/step - loss: 0.2076 - accuracy: 0.8991
Epoch 30/50
689/689 [==============================] - 3s 4ms/step - loss: 0.2113 - accuracy: 0.8982
Epoch 31/50
689/689 [==============================] - 3s 4ms/step - loss: 0.2036 - accuracy: 0.9007
Epoch 32/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1978 - accuracy: 0.9006
Epoch 33/50
689/689 [==============================] - 3s 4ms/step - loss: 0.2000 - accuracy: 0.9018
Epoch 34/50
689/689 [==============================] - 3s 4ms/step - loss: 0.2109 - accuracy: 0.8991
Epoch 35/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1997 - accuracy: 0.9015
Epoch 36/50
689/689 [==============================] - 4s 5ms/step - loss: 0.1996 - accuracy: 0.9029
Epoch 37/50
689/689 [==============================] - 3s 4ms/step - loss: 0.2028 - accuracy: 0.9017
Epoch 38/50
689/689 [==============================] - 3s 5ms/step - loss: 0.2004 - accuracy: 0.9006
Epoch 39/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1933 - accuracy: 0.9046
Epoch 40/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1958 - accuracy: 0.9031
Epoch 41/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1948 - accuracy: 0.9034
Epoch 42/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1952 - accuracy: 0.9040
Epoch 43/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1951 - accuracy: 0.9032
Epoch 44/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1993 - accuracy: 0.9026
Epoch 45/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1960 - accuracy: 0.9046
Epoch 46/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1859 - accuracy: 0.9059
Epoch 47/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1888 - accuracy: 0.9049
Epoch 48/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1949 - accuracy: 0.9046
Epoch 49/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1949 - accuracy: 0.9049
Epoch 50/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1894 - accuracy: 0.9063

In [73]:
model.fit(X, y_train, epochs=50, batch_size=128)

Epoch 1/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1872 - accuracy: 0.9075
Epoch 2/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1867 - accuracy: 0.9062
Epoch 3/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1899 - accuracy: 0.9067
Epoch 4/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1952 - accuracy: 0.9059
Epoch 5/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1897 - accuracy: 0.9068
Epoch 6/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1920 - accuracy: 0.9067
Epoch 7/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1862 - accuracy: 0.9083
Epoch 8/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1806 - accuracy: 0.9101
Epoch 9/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1885 - accuracy: 0.9084
Epoch 10/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1855 - accuracy: 0.9077
Epoch 11/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1921 - accuracy: 0.9078
Epoch 12/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1841 - accuracy: 0.9090
Epoch 13/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1809 - accuracy: 0.9109
Epoch 14/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1819 - accuracy: 0.9113
Epoch 15/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1854 - accuracy: 0.9087
Epoch 16/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1840 - accuracy: 0.9108
Epoch 17/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1840 - accuracy: 0.9099
Epoch 18/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1922 - accuracy: 0.9081
Epoch 19/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1740 - accuracy: 0.9121
Epoch 20/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1935 - accuracy: 0.9081
Epoch 21/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1774 - accuracy: 0.9127
Epoch 22/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1723 - accuracy: 0.9148
Epoch 23/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1788 - accuracy: 0.9119
Epoch 24/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1792 - accuracy: 0.9133
Epoch 25/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1789 - accuracy: 0.9129
Epoch 26/50
689/689 [==============================] - 3s 5ms/step - loss: 0.1815 - accuracy: 0.9104
Epoch 27/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1859 - accuracy: 0.9104
Epoch 28/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1847 - accuracy: 0.9115
Epoch 29/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1833 - accuracy: 0.9134
Epoch 30/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1730 - accuracy: 0.9145
Epoch 31/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1773 - accuracy: 0.9144
Epoch 32/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1698 - accuracy: 0.9154
Epoch 33/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1690 - accuracy: 0.9161
Epoch 34/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1815 - accuracy: 0.9129
Epoch 35/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1799 - accuracy: 0.9134
Epoch 36/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1678 - accuracy: 0.9166
Epoch 37/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1716 - accuracy: 0.9151
Epoch 38/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1880 - accuracy: 0.9125
Epoch 39/50
689/689 [==============================] - 3s 5ms/step - loss: 0.1805 - accuracy: 0.9135
Epoch 40/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1730 - accuracy: 0.9148
Epoch 41/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1683 - accuracy: 0.9171
Epoch 42/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1678 - accuracy: 0.9166
Epoch 43/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1874 - accuracy: 0.9126
Epoch 44/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1850 - accuracy: 0.9131
Epoch 45/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1717 - accuracy: 0.9179
Epoch 46/50
689/689 [==============================] - 3s 5ms/step - loss: 0.1656 - accuracy: 0.9190
Epoch 47/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1684 - accuracy: 0.9166
Epoch 48/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1694 - accuracy: 0.9168
Epoch 49/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1813 - accuracy: 0.9141
Epoch 50/50
689/689 [==============================] - 3s 4ms/step - loss: 0.1694 - accuracy: 0.9170

In [94]:
model.fit(X, y_train, epochs=100, batch_size=128)

Epoch 1/100
689/689 [==============================] - 3s 5ms/step - loss: 0.1559 - accuracy: 0.9207
Epoch 2/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1614 - accuracy: 0.9197
Epoch 3/100
689/689 [==============================] - 3s 5ms/step - loss: 0.1805 - accuracy: 0.9150
Epoch 4/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1893 - accuracy: 0.9133
Epoch 5/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1722 - accuracy: 0.9164
Epoch 6/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1715 - accuracy: 0.9189
Epoch 7/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1701 - accuracy: 0.9177
Epoch 8/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1648 - accuracy: 0.9191
Epoch 9/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1675 - accuracy: 0.9199
Epoch 10/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1734 - accuracy: 0.9178
Epoch 11/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1733 - accuracy: 0.9179
Epoch 12/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1642 - accuracy: 0.9193
Epoch 13/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1696 - accuracy: 0.9184
Epoch 14/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1655 - accuracy: 0.9197
Epoch 15/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1945 - accuracy: 0.9172
Epoch 16/100
689/689 [==============================] - 4s 6ms/step - loss: 0.1639 - accuracy: 0.9195
Epoch 17/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1680 - accuracy: 0.9195
Epoch 18/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1641 - accuracy: 0.9204
Epoch 19/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1590 - accuracy: 0.9222
Epoch 20/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1555 - accuracy: 0.9221
Epoch 21/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1679 - accuracy: 0.9185
Epoch 22/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1757 - accuracy: 0.9174
Epoch 23/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1705 - accuracy: 0.9188
Epoch 24/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1799 - accuracy: 0.9177
Epoch 25/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1692 - accuracy: 0.9197
Epoch 26/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1526 - accuracy: 0.9240
Epoch 27/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1509 - accuracy: 0.9251
Epoch 28/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1713 - accuracy: 0.9188
Epoch 29/100
689/689 [==============================] - 3s 5ms/step - loss: 0.1718 - accuracy: 0.9187
Epoch 30/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1769 - accuracy: 0.9191
Epoch 31/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1683 - accuracy: 0.9214
Epoch 32/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1526 - accuracy: 0.9240
Epoch 33/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1518 - accuracy: 0.9242
Epoch 34/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1574 - accuracy: 0.9226
Epoch 35/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1693 - accuracy: 0.9200
Epoch 36/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1685 - accuracy: 0.9202
Epoch 37/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1802 - accuracy: 0.9198
Epoch 38/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1666 - accuracy: 0.9213
Epoch 39/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1535 - accuracy: 0.9248
Epoch 40/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1507 - accuracy: 0.9250
Epoch 41/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1555 - accuracy: 0.9238
Epoch 42/100
689/689 [==============================] - 3s 5ms/step - loss: 0.1616 - accuracy: 0.9232
Epoch 43/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1805 - accuracy: 0.9178
Epoch 44/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1690 - accuracy: 0.9231
Epoch 45/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1634 - accuracy: 0.9228
Epoch 46/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1562 - accuracy: 0.9256
Epoch 47/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1617 - accuracy: 0.9234
Epoch 48/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1626 - accuracy: 0.9228
Epoch 49/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1629 - accuracy: 0.9233
Epoch 50/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1564 - accuracy: 0.9247
Epoch 51/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1575 - accuracy: 0.9245
Epoch 52/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1528 - accuracy: 0.9255
Epoch 53/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1556 - accuracy: 0.9251
Epoch 54/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1607 - accuracy: 0.9237
Epoch 55/100
689/689 [==============================] - 3s 5ms/step - loss: 0.1660 - accuracy: 0.9234
Epoch 56/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1732 - accuracy: 0.9215
Epoch 57/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1634 - accuracy: 0.9237
Epoch 58/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1465 - accuracy: 0.9269
Epoch 59/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1503 - accuracy: 0.9275
Epoch 60/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1653 - accuracy: 0.9224
Epoch 61/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1652 - accuracy: 0.9227
Epoch 62/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1538 - accuracy: 0.9264
Epoch 63/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1552 - accuracy: 0.9257
Epoch 64/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1596 - accuracy: 0.9243
Epoch 65/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1589 - accuracy: 0.9256
Epoch 66/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1528 - accuracy: 0.9269
Epoch 67/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1529 - accuracy: 0.9261
Epoch 68/100
689/689 [==============================] - 3s 5ms/step - loss: 0.1569 - accuracy: 0.9252
Epoch 69/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1597 - accuracy: 0.9253
Epoch 70/100
689/689 [==============================] - 3s 5ms/step - loss: 0.1654 - accuracy: 0.9235
Epoch 71/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1713 - accuracy: 0.9227
Epoch 72/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1584 - accuracy: 0.9259
Epoch 73/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1451 - accuracy: 0.9290
Epoch 74/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1374 - accuracy: 0.9300
Epoch 75/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1528 - accuracy: 0.9259
Epoch 76/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1584 - accuracy: 0.9250
Epoch 77/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1499 - accuracy: 0.9278
Epoch 78/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1623 - accuracy: 0.9250
Epoch 79/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1706 - accuracy: 0.9232
Epoch 80/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1599 - accuracy: 0.9255
Epoch 81/100
689/689 [==============================] - 3s 5ms/step - loss: 0.1612 - accuracy: 0.9258
Epoch 82/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1633 - accuracy: 0.9260
Epoch 83/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1438 - accuracy: 0.9309
Epoch 84/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1719 - accuracy: 0.9263
Epoch 85/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1679 - accuracy: 0.9248
Epoch 86/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1461 - accuracy: 0.9281
Epoch 87/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1507 - accuracy: 0.9282
Epoch 88/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1563 - accuracy: 0.9276
Epoch 89/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1509 - accuracy: 0.9281
Epoch 90/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1564 - accuracy: 0.9261
Epoch 91/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1604 - accuracy: 0.9266
Epoch 92/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1558 - accuracy: 0.9266
Epoch 93/100
689/689 [==============================] - 3s 5ms/step - loss: 0.1455 - accuracy: 0.9301
Epoch 94/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1580 - accuracy: 0.9277
Epoch 95/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1609 - accuracy: 0.9263
Epoch 96/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1538 - accuracy: 0.9283
Epoch 97/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1614 - accuracy: 0.9266
Epoch 98/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1556 - accuracy: 0.9275
Epoch 99/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1524 - accuracy: 0.9292
Epoch 100/100
689/689 [==============================] - 3s 4ms/step - loss: 0.1456 - accuracy: 0.9303

In [130]:
model.save('my_model_gols.h5')
clases = label_binarizer.classes_
clases

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 14., 15., 16., 17., 18., 19., 20., 21., 22., 24., 30., 31.])

In [131]:
def convert_input_winner_2(country_1, country_2, paises=countrys, house='Qatar', year=2022):
  out = [(year-date_mean)/date_std] # date is 2022
  #out = []
  out.append(0 if country_1==house else 1)  # neutral: True/False : si jugarán en un lugar neutro, como es el mundial, todos juegan así.

  mean, std = normalize(table_plays)
  out.append((table_plays[country_1]-mean)/std)
  out.append((table_plays[country_2]-mean)/std)

  mean, std = normalize(table_winners)
  out.append((table_winners[country_1]-mean)/std)
  out.append((table_winners[country_2]-mean)/std)
  
  mean, std =normalize(table_losers)
  out.append((table_losers[country_1]-mean)/std)
  out.append((table_losers[country_2]-mean)/std)

  mean, std = normalize(table_ties)
  out.append((table_ties[country_1]-mean)/std)
  out.append((table_ties[country_2]-mean)/std)

  reply = table_1_vs_2[country_1+"_"+country_2]
  out.append((reply[0]-data_2_normalize['win_1_vs_2'][0])/data_2_normalize['win_1_vs_2'][1])
  out.append((reply[1]-data_2_normalize['lose_1_vs_2'][0])/data_2_normalize['lose_1_vs_2'][1])
  out.append((reply[2]-data_2_normalize['tie_1_vs_2'][0])/data_2_normalize['tie_1_vs_2'][1])
  out.append((sum(reply)-data_2_normalize['total_1_vs_2'][0])/data_2_normalize['total_1_vs_2'][1])

  out += onehotencoder(paises,country_1) + onehotencoder(paises, country_2)

  return np.array([out])

def predict_results_full(country_1, country_2, model_winner, model, clases, tie=True):
  test = list(convert_input_winner_2(country_1, country_2)[0])
  test_2 = list(convert_input_winner_2(country_2, country_1)[0])
  win = predict_winner(country_1, country_2, model_winner, tie)
  if win == 'Tie':
    win = country_1 + "_" + country_2
    test.extend([1,0,0])
    test_2.extend([1,0,0])
  elif win==country_1:
    win += "_"+country_2
    test.extend([0,1,0])
    test_2.extend([0,0,1])
  else:
    win += "_"+country_1
    test.extend([0,0,1])
    test_2.extend([0,1,0])

  test = np.array([test])
  test_2 = np.array([test_2])

  pred_1 = model.predict(test, verbose=0)[0]
  pred_2 = model.predict(test_2, verbose=0)[0]

  pos_1 = np.argmax(pred_1)
  pos_2 = np.argmax(pred_2)
  if not tie and pos_1==pos_2:
    if pred_1[pos_1]>pred_2[pos_2]:
      b = pred_1[pos_1]
      a = pred_1
      mx = -10000000
      for i in a:
        if i>mx and i!= b:
          mx = i
      for i in range(len(a)):
        if a[i]==mx:
          pos_1 = i
          break
    else:
      b = pred_2[pos_2]
      a = pred_2
      mx = -10000000
      for i in a:
        if i>mx and i!= b:
          mx = i
      for i in range(len(a)):
        if a[i]==mx:
          pos_2 = i
          break
  prediction = clases[pos_1]
  prediction_2 = clases[pos_2]
  return country_1 + " ("+str(int(prediction))+"-"+str(int(prediction_2))+") " + country_2

predict_results_full("Brazil", "Peru", model_winner, model, clases)

'Brazil (2-1) Peru'

In [132]:
predict_results_full("Peru", "Brazil", model_winner, model, clases), predict_results_full("Brazil", "Peru", model_winner, model, clases)

('Peru (1-2) Brazil', 'Brazil (2-1) Peru')

In [133]:
predict_results_full("Chile", "Peru", model_winner, model, clases), predict_results_full("Peru", "Chile", model_winner, model, clases)

('Chile (0-3) Peru', 'Peru (3-0) Chile')

In [134]:
predict_results_full("Qatar", "Peru", model_winner, model, clases), predict_results_full("Peru", "Qatar", model_winner, model, clases)

('Qatar (1-0) Peru', 'Peru (0-1) Qatar')

In [135]:
predict_results_full("Argentina", "Peru", model_winner, model, clases), predict_results_full("Peru","Argentina", model_winner, model, clases)

('Argentina (3-0) Peru', 'Peru (0-3) Argentina')

In [136]:
predict_results_full("Brazil", "Bolivia", model_winner, model, clases), predict_results_full("Bolivia", "Brazil", model_winner, model, clases)

('Brazil (3-0) Bolivia', 'Bolivia (0-3) Brazil')

In [137]:
def predict_results(country_1, country_2, model_winner, model, clases, tie=True):
  cad = predict_results_full(country_1, country_2, model_winner, model, clases, tie).split("-")
  team_1 = int(cad[0][-1])
  team_2 = int(cad[1][0])

  if team_1 > team_2:
    return cad[0][:len(cad[0])-3]+"_"+cad[1][3:]+"_+"+str(team_1-team_2)
  else:
    return cad[1][3:]+"_"+cad[0][:len(cad[0])-3]+"_+"+str(team_2-team_1)

predict_results("Brazil", "Bolivia", model_winner, model, clases)

'Brazil_Bolivia_+3'

In [138]:
predict_results("Chile", "Peru", model_winner, model, clases, False)

'Peru_Chile_+3'

# Grupos

In [139]:
Groups = {"Group A": ["Qatar",  "Ecuador", "Senegal" ,"Netherlands"],
          "Group B": ["England",  "Iran", "United States",  "Wales"],
          "Group C": ["Argentina",  "Saudi Arabia",  "Mexico",  "Poland"],
          "Group D": ["France",  "Australia",  "Denmark",  "Tunisia"],
          "Group E": ["Spain",  "Costa Rica",  "Germany",  "Japan"],
          "Group F": ["Belgium",  "Canada",  "Morocco", "Croatia"],
          "Group G": ["Brazil", "Serbia",  "Switzerland",  "Cameroon"],
          "Group H": ["Portugal",  "Ghana", "Uruguay",  "South Korea"]}
Groups

{'Group A': ['Qatar', 'Ecuador', 'Senegal', 'Netherlands'],
 'Group B': ['England', 'Iran', 'United States', 'Wales'],
 'Group C': ['Argentina', 'Saudi Arabia', 'Mexico', 'Poland'],
 'Group D': ['France', 'Australia', 'Denmark', 'Tunisia'],
 'Group E': ['Spain', 'Costa Rica', 'Germany', 'Japan'],
 'Group F': ['Belgium', 'Canada', 'Morocco', 'Croatia'],
 'Group G': ['Brazil', 'Serbia', 'Switzerland', 'Cameroon'],
 'Group H': ['Portugal', 'Ghana', 'Uruguay', 'South Korea']}

In [140]:
import itertools
list(itertools.combinations(Groups["Group A"], 2))

[('Qatar', 'Ecuador'),
 ('Qatar', 'Senegal'),
 ('Qatar', 'Netherlands'),
 ('Ecuador', 'Senegal'),
 ('Ecuador', 'Netherlands'),
 ('Senegal', 'Netherlands')]

In [141]:
def win_groups(group_X):
  print("======================>",group_X)
  partys = list(itertools.combinations(Groups[group_X], 2))
  match = []
  played = []
  for party in partys:
    played.append(predict_results_full(party[0], party[1], model_winner, model, clases))
    print(played[-1])
    match.append(predict_results(party[0], party[1], model_winner, model, clases))
  
  positions = dict(zip(Groups[group_X], [{"win":0.0,"GF":0.0, "DG":0.0}, 
                                         {"win":0.0,"GF":0.0, "DG":0.0}, 
                                         {"win":0.0,"GF":0.0, "DG":0.0}, 
                                         {"win":0.0,"GF":0.0, "DG":0.0}]))
  print()
  for i in range(len(match)):

    print(match[i])
    replys = match[i].split("_")
    cad = played[i].split("-")
    team_1 = int(cad[0][-1])
    team_2 = int(cad[1][0])

    if replys[0]==cad[0][:len(cad[0])-3]:
      if team_1>team_2:
        positions[replys[0]]["win"] += 1
      elif team_1<team_2:
        positions[replys[1]]["win"] += 1
      positions[replys[0]]["GF"] += team_1
      positions[replys[0]]["DG"] += team_1-team_2
      positions[replys[1]]["GF"] += team_2
      positions[replys[1]]["DG"] += team_2-team_1
    else:
      if team_2>team_1:
        positions[replys[0]]["win"] += 1
      elif team_1<team_2:
        positions[replys[1]]["win"] += 1
      positions[replys[0]]["GF"] += team_2
      positions[replys[0]]["DG"] += team_2-team_1
      positions[replys[1]]["GF"] += team_1
      positions[replys[1]]["DG"] += team_1-team_2   

  print()
  for i in sorted(positions, key=lambda x: positions[x]["win"]+(positions[x]["GF"]/100)+(positions[x]["DG"]/10000), reverse=True):
    print(i, positions[i])
  return sorted(positions, key=lambda x: positions[x]["win"]+(positions[x]["GF"]/100)+(positions[x]["DG"]/10000), reverse=True)[:2]

In [142]:
octavos = {}
for group in Groups:
  reply = win_groups(group)
  print("\n",reply,"\n\n","-"*50)
  octavos[group] = reply

======================> Group A
Qatar (1-1) Ecuador
Qatar (0-2) Senegal
Qatar (0-5) Netherlands
Ecuador (1-1) Senegal
Ecuador (1-2) Netherlands
Senegal (0-0) Netherlands

Ecuador_Qatar_+0
Senegal_Qatar_+2
Netherlands_Qatar_+5
Senegal_Ecuador_+0
Netherlands_Ecuador_+1
Netherlands_Senegal_+0

Netherlands {'win': 2.0, 'GF': 7.0, 'DG': 6.0}
Senegal {'win': 1.0, 'GF': 3.0, 'DG': 2.0}
Ecuador {'win': 0.0, 'GF': 3.0, 'DG': -1.0}
Qatar {'win': 0.0, 'GF': 1.0, 'DG': -7.0}

 ['Netherlands', 'Senegal']

 --------------------------------------------------
======================> Group B
England (1-0) Iran
England (1-0) United States
England (3-0) Wales
Iran (1-1) United States
Iran (0-1) Wales
United States (1-0) Wales

England_Iran_+1
England_United States_+1
England_Wales_+3
United States_Iran_+0
Wales_Iran_+1
United States_Wales_+1

England {'win': 3.0, 'GF': 5.0, 'DG': 5.0}
United States {'win': 1.0, 'GF': 2.0, 'DG': 0.0}
Wales {'win': 1.0, 'GF': 1.0, 'DG': -3.0}
Iran {'win': 0.0, 'GF': 1.0, 'DG': -2.0}

 ['England', 'United States']

 --------------------------------------------------
======================> Group C
Argentina (3-0) Saudi Arabia
Argentina (4-0) Mexico
Argentina (4-0) Poland
Saudi Arabia (1-2) Mexico
Saudi Arabia (1-4) Poland
Mexico (0-0) Poland

Argentina_Saudi Arabia_+3
Argentina_Mexico_+4
Argentina_Poland_+4
Mexico_Saudi Arabia_+1
Poland_Saudi Arabia_+3
Poland_Mexico_+0

Argentina {'win': 3.0, 'GF': 11.0, 'DG': 11.0}
Poland {'win': 1.0, 'GF': 4.0, 'DG': -1.0}
Mexico {'win': 1.0, 'GF': 2.0, 'DG': -3.0}
Saudi Arabia {'win': 0.0, 'GF': 2.0, 'DG': -7.0}

 ['Argentina', 'Poland']

 --------------------------------------------------
======================> Group D
France (2-1) Australia
France (0-0) Denmark
France (2-1) Tunisia
Australia (0-4) Denmark
Australia (0-1) Tunisia
Denmark (2-0) Tunisia

France_Australia_+1
Denmark_France_+0
France_Tunisia_+1
Denmark_Australia_+4
Tunisia_Australia_+1
Denmark_Tunisia_+2

Denmark {'win': 2.0, 'GF': 6.0, 'DG': 6.0}
France {'win': 2.0, 'GF': 4.0, 'DG': 2.0}
Tunisia {'win': 1.0, 'GF': 2.0, 'DG': -2.0}
Australia {'win': 0.0, 'GF': 1.0, 'DG': -6.0}

 ['Denmark', 'France']

 --------------------------------------------------
======================> Group E
Spain (2-0) Costa Rica
Spain (1-1) Germany
Spain (4-1) Japan
Costa Rica (2-3) Germany
Costa Rica (1-3) Japan
Germany (2-2) Japan

Spain_Costa Rica_+2
Germany_Spain_+0
Spain_Japan_+3
Germany_Costa Rica_+1
Japan_Costa Rica_+2
Japan_Germany_+0

Spain {'win': 2.0, 'GF': 7.0, 'DG': 5.0}
Germany {'win': 1.0, 'GF': 6.0, 'DG': 1.0}
Japan {'win': 1.0, 'GF': 6.0, 'DG': -1.0}
Costa Rica {'win': 0.0, 'GF': 3.0, 'DG': -5.0}

 ['Spain', 'Germany']

 --------------------------------------------------
======================> Group F
Belgium (2-0) Canada
Belgium (2-0) Morocco
Belgium (3-1) Croatia
Canada (1-0) Morocco
Canada (0-1) Croatia
Morocco (0-2) Croatia

Belgium_Canada_+2
Belgium_Morocco_+2
Belgium_Croatia_+2
Canada_Morocco_+1
Croatia_Canada_+1
Croatia_Morocco_+2

Belgium {'win': 3.0, 'GF': 7.0, 'DG': 6.0}
Croatia {'win': 2.0, 'GF': 4.0, 'DG': 1.0}
Canada {'win': 1.0, 'GF': 1.0, 'DG': -2.0}
Morocco {'win': 0.0, 'GF': 0.0, 'DG': -5.0}

 ['Belgium', 'Croatia']

 --------------------------------------------------
======================> Group G
Brazil (2-0) Serbia
Brazil (1-1) Switzerland
Brazil (1-0) Cameroon
Serbia (1-1) Switzerland
Serbia (1-0) Cameroon
Switzerland (2-0) Cameroon

Brazil_Serbia_+2
Switzerland_Brazil_+0
Brazil_Cameroon_+1
Switzerland_Serbia_+0
Serbia_Cameroon_+1
Switzerland_Cameroon_+2

Brazil {'win': 2.0, 'GF': 4.0, 'DG': 3.0}
Switzerland {'win': 1.0, 'GF': 4.0, 'DG': 2.0}
Serbia {'win': 1.0, 'GF': 2.0, 'DG': -1.0}
Cameroon {'win': 0.0, 'GF': 0.0, 'DG': -4.0}

 ['Brazil', 'Switzerland']

 --------------------------------------------------
======================> Group H
Portugal (2-1) Ghana
Portugal (1-0) Uruguay
Portugal (2-0) South Korea
Ghana (0-1) Uruguay
Ghana (2-0) South Korea
Uruguay (0-0) South Korea

Portugal_Ghana_+1
Portugal_Uruguay_+1
Portugal_South Korea_+2
Uruguay_Ghana_+1
Ghana_South Korea_+2
South Korea_Uruguay_+0

Portugal {'win': 3.0, 'GF': 5.0, 'DG': 4.0}
Ghana {'win': 1.0, 'GF': 3.0, 'DG': 0.0}
Uruguay {'win': 1.0, 'GF': 1.0, 'DG': 0.0}
South Korea {'win': 0.0, 'GF': 0.0, 'DG': -4.0}

 ['Portugal', 'Ghana']

 --------------------------------------------------

#Octavos

In [143]:
octavos

{'Group A': ['Netherlands', 'Senegal'],
 'Group B': ['England', 'United States'],
 'Group C': ['Argentina', 'Poland'],
 'Group D': ['Denmark', 'France'],
 'Group E': ['Spain', 'Germany'],
 'Group F': ['Belgium', 'Croatia'],
 'Group G': ['Brazil', 'Switzerland'],
 'Group H': ['Portugal', 'Ghana']}

In [144]:
oct = list(octavos.keys())
cuartos_replys = []

for i in range(0, len(oct),2):
  cuartos_replys.append(predict_results(octavos[oct[i]][0], octavos[oct[i+1]][1], model_winner, model, clases, tie=False))
  print(predict_results_full(octavos[oct[i]][0], octavos[oct[i+1]][1], model_winner, model, clases, tie=False), end=" | ")
  print(cuartos_replys[-1])


for i in range(0, len(oct),2):
  cuartos_replys.append(predict_results(octavos[oct[i]][1], octavos[oct[i+1]][0], model_winner, model, clases, tie=False))
  print(predict_results_full(octavos[oct[i]][1], octavos[oct[i+1]][0], model_winner, model, clases, tie=False), end= " | ")
  print(cuartos_replys[-1])

Netherlands (2-1) United States | Netherlands_United States_+1
Argentina (3-4) France | France_Argentina_+1
Spain (5-3) Croatia | Spain_Croatia_+2
Brazil (3-0) Ghana | Brazil_Ghana_+3
Senegal (0-1) England | England_Senegal_+1
Poland (3-1) Denmark | Poland_Denmark_+2
Germany (4-0) Belgium | Germany_Belgium_+4
Switzerland (1-0) Portugal | Switzerland_Portugal_+1

# Cuartos

In [145]:
cuartos = [line.split("_")[0] for line in cuartos_replys]
cuartos

['Netherlands',
 'France',
 'Spain',
 'Brazil',
 'England',
 'Poland',
 'Germany',
 'Switzerland']

In [146]:
segundos_replys = []

for i in range(0, len(cuartos),2):
  print(predict_results_full(cuartos[i], cuartos[i+1], model_winner, model, clases, tie=False), end = " | ")
  segundos_replys.append(predict_results(cuartos[i], cuartos[i+1], model_winner, model, clases, tie=False))
  print(segundos_replys[-1])

Netherlands (0-2) France | France_Netherlands_+2
Spain (1-0) Brazil | Spain_Brazil_+1
England (3-1) Poland | England_Poland_+2
Germany (3-0) Switzerland | Germany_Switzerland_+3

# Semi-final & Final

In [147]:
segundos = [line.split("_")[0] for line in segundos_replys]
segundos

['France', 'Spain', 'England', 'Germany']

In [148]:
semiF_replys = []

for i in range(0, len(segundos),2):
  semiF_replys.append(predict_results(segundos[i], segundos[i+1], model_winner, model, clases, tie=False))
  print(predict_results_full(segundos[i], segundos[i+1], model_winner, model, clases, tie=False), end=" | ")
  print(semiF_replys[-1])

pos4_and_3 = [line.split("_")[1] for line in semiF_replys]
tercero = predict_results(pos4_and_3[0], pos4_and_3[1], model_winner, model, clases, tie=False)
print()
print(predict_results_full(pos4_and_3[0], pos4_and_3[1], model_winner, model, clases, tie=False), end=" | ")
print(tercero)
tercero = tercero.split("_")[0]
pos4_and_3.remove(tercero)

print("\nFourth in the world cup:", pos4_and_3[0])
print("Third in the world cup:", tercero)

semiF = [line.split("_")[0] for line in semiF_replys]
print("\nThe Final is between:",semiF)

France (1-0) Spain | France_Spain_+1
England (0-4) Germany | Germany_England_+4

Spain (4-0) England | Spain_England_+4

Fourth in the world cup: England
Third in the world cup: Spain

The Final is between: ['France', 'Germany']

In [149]:
# Final:

final = predict_results(semiF[0], semiF[1], model_winner, model, clases, tie=False)
print(predict_results_full(semiF[0], semiF[1], model_winner, model, clases, tie=False), end=" | ")
print(final)

semiF.remove(final.split("_")[0])
print("\nSecond in the world cup:", semiF[0])
print("\nWorld Cup Winner is: ", final.split("_")[0])

France (0-2) Germany | Germany_France_+2

Second in the world cup: France

World Cup Winner is:  Germany