<a href="https://colab.research.google.com/github/dretcm/World-Cup-Challenge-2022-ACM/blob/main/worlds_cup_2k22_predictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Load and preproccesing data

In [154]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

results = pd.read_csv("InternationalFootballResults_1872to2022_results.csv")
results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False

In [151]:
def onehotencoder(countrys, word):
  output = []
  for country in countrys:
    if country == word:
      output.append(1)
    else:
      output.append(0)
  return output

countrys = list(set(list(results['home_team']) + list(results['away_team'])))
len(onehotencoder(countrys, 'Argentina'))

316

In [152]:
home = list(results['home_team'])
home_score = list(results['home_score'])

away = list(results['away_team'])
away_score = list(results['away_score'])

winners = [home[i] if home_score[i]>away_score[i] else away[i] for i in range(len(home)) if home_score[i]!=away_score[i]]
losers = [home[i] if home_score[i]<away_score[i] else away[i] for i in range(len(home)) if home_score[i]!=away_score[i]]
ties = [home[i] for i in range(len(home)) if home_score[i]==away_score[i]]
ties += [away[i] for i in range(len(away)) if home_score[i]==away_score[i]]

table_winners = {}
for c in countrys:
    table_winners[c] = winners.count(c)

table_losers = {}
for c in countrys:
    table_losers[c] = losers.count(c)

table_ties = {}
for c in countrys:
    table_ties[c] = ties.count(c)

table_plays = {}
for c in countrys:
  table_plays[c] = table_winners[c] + table_losers[c] + table_ties[c]


table_result = []   # 0(tie), 1(win team 1), 2(win team 2)
for i in range(len(home_score)):
  if home_score[i] == away_score[i]:
    table_result.append(0)
  elif home_score[i] > away_score[i]:
    table_result.append(1)
  else:
    table_result.append(2)


'''
for i in sorted(table, key= lambda x: table[x], reverse=True):
  print(i + ' win: ', table[i])
'''


def get_partys_teams(t1,t2):
  first = results[results['home_team']==t1]
  second = first[first['away_team']==t2]
  third = results[results['home_team']==t2]
  fourth = third[third['away_team']==t1]

  a = second[second['home_score']>second['away_score']].shape[0]
  a += fourth[fourth['home_score']<fourth['away_score']].shape[0]

  b = second[second['home_score']<second['away_score']].shape[0]
  b += fourth[fourth['home_score']>fourth['away_score']].shape[0]

  c = second[second['home_score']==second['away_score']].shape[0]
  c += fourth[fourth['home_score']==fourth['away_score']].shape[0]
  return [a,b,c]

get_partys_teams("Spain", "Brazil"), get_partys_teams("Brazil", "Spain")

([2, 5, 2], [5, 2, 2])

In [153]:
import json
# table_1_vs_2 = {c+"_"+c2:get_partys_teams(c,c2) for c in countrys for c2 in countrys if c!=c2}
# with open("data_1vs2.json", "w") as write_file:
#     json.dump(table_1_vs_2, write_file)

with open("data_1vs2.json", "r") as read_file:
    table_1_vs_2 = json.load(read_file)

In [6]:
table_1_vs_2['Spain_Brazil'], table_1_vs_2['Brazil_Spain']

([2, 5, 2], [5, 2, 2])

In [ ]:
np.mean(list(table_plays.values())), np.std(list(table_plays.values()))

(278.8607594936709, 270.4569496698867)

In [ ]:
max(table_plays.values()), len(home)

(1051, 44060)

In [155]:
def normalize(table, standar=True):
  mean = np.mean(list(table.values())) if standar else 0
  std =  np.std(list(table.values())) if standar else max(table.values())
  return mean, std

mean, std = normalize(table_plays)
played1 = [(table_plays[country]-mean)/std for country in home] 
played2 =  [(table_plays[country]-mean)/std for country in away]

mean, std = normalize(table_winners)
win1 =  [(table_winners[country]-mean)/std for country in home]
win2 = [(table_winners[country]-mean)/std for country in away]

mean, std = normalize(table_losers)
lose1 = [(table_losers[country]-mean)/std for country in home]
lose2 = [(table_losers[country]-mean)/std for country in away]


arr = []
for i in range(len(home)):
  arr.append(onehotencoder(countrys, home[i]) + onehotencoder(countrys, away[i]))
arr = np.array(arr)

titles = [country+' '+str(i) for i in range(1,3) for country in countrys]
onehot_countrys = pd.DataFrame(arr, columns=titles)

results['played 1'] = played1
results['played 2'] = played2
results['win 1'] = win1
results['win 2'] = win2
results['lose 1'] = lose1
results['lose 2'] = lose2

results['win_1_vs_2'] = results.apply(lambda x: table_1_vs_2[x['home_team']+"_"+x['away_team']][0], axis=1)
results['lose_1_vs_2'] = results.apply(lambda x: table_1_vs_2[x['away_team']+"_"+x['home_team']][0], axis=1)
results['tie_1_vs_2'] = results.apply(lambda x: table_1_vs_2[x['home_team']+"_"+x['away_team']][2], axis=1)
results['total_1_vs_2'] = results.apply(lambda x: x['win_1_vs_2']+ x['lose_1_vs_2'] + x['tie_1_vs_2'], axis=1)

#max_win_vs = max(results['win_1_vs_2'])
data_1_normalize = {}
data_1_normalize['win_1_vs_2']= [np.mean(list(results['win_1_vs_2'])), np.std(list(results['win_1_vs_2']))]
results['win_1_vs_2'] = results['win_1_vs_2'].map(lambda x: (x-data_1_normalize['win_1_vs_2'][0])/data_1_normalize['win_1_vs_2'][1])

#max_lose_vs = max(results['lose_1_vs_2'])
data_1_normalize['lose_1_vs_2']= [np.mean(list(results['lose_1_vs_2'])), np.std(list(results['lose_1_vs_2']))]
results['lose_1_vs_2'] = results['lose_1_vs_2'].map(lambda x: (x-data_1_normalize['lose_1_vs_2'][0])/data_1_normalize['lose_1_vs_2'][1])

#max_total_vs = max(results['total_1_vs_2'])
data_1_normalize['total_1_vs_2']= [np.mean(list(results['total_1_vs_2'])), np.std(list(results['total_1_vs_2']))]
results['total_1_vs_2'] = results['total_1_vs_2'].map(lambda x: (x-data_1_normalize['total_1_vs_2'][0])/data_1_normalize['total_1_vs_2'][1])

results['result'] = table_result
#results['difference'] = results.apply(lambda x: x['home_score'] - x['away_score'], axis=1)

results['neutral'] = results['neutral'].map(lambda x: 1 if x==True else 0)

results = pd.concat([results, onehot_countrys], axis=1)

results['date'] = results['date'].map(lambda x: (int(str(x)[:4])))
date_mean, date_std = np.mean(list(results['date'])), np.std(list(results['date']))
results['date'] = results['date'].map(lambda x: (x-date_mean)/date_std)

# model 1:
data_1 = results.copy()
data_1.where(data_1['home_score']!=data_1['away_score'] ,inplace=True)
data_1 = data_1.drop(['city', 'country', 'tournament', 'home_score','away_score', 'home_team', 
                      'away_team','tie_1_vs_2'], axis=1)
data_1 = data_1.dropna(axis=0)
data_1

,date,neutral,played 1,played 2,win 1,win 2,lose 1,lose 2,win_1_vs_2,lose_1_vs_2,...,Greenland 2,Barawa 2,Sudan 2,Honduras 2,Padania 2,Zanzibar 2,Central African Republic 2,Iceland 2,Faroe Islands 2,Yemen 2
1,-4.832257,0.0,2.829061,1.974951,3.813250,2.183598,1.012904,1.570149,3.387917,2.971062,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-4.791581,0.0,1.974951,2.829061,2.183598,3.813250,1.570149,1.012904,2.871342,3.498809,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-4.710229,0.0,1.974951,2.829061,2.183598,3.813250,1.570149,1.012904,2.871342,3.498809,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,-4.710229,0.0,1.974951,1.516468,2.183598,0.890844,1.570149,2.291291,4.507161,1.299862,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,-4.669553,0.0,2.829061,1.974951,3.813250,2.183598,1.012904,1.570149,3.387917,2.971062,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44052,1.228444,0.0,1.165210,-0.158475,0.937854,-0.378404,0.958272,0.226204,-0.486392,-0.635211,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44055,1.228444,0.0,2.045203,0.096648,1.564643,0.248385,2.498892,-0.221778,-0.572488,-0.459295,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44057,1.228444,0.0,-0.775949,0.410931,-0.636955,-0.268716,-0.844582,1.570149,-0.572488,-0.723169,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44058,1.228444,0.0,1.157815,1.457309,0.898679,0.506936,1.253284,2.608156,-0.228105,-0.459295,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44059,1.228444,1.0,-0.184357,-0.369230,-0.057175,-0.237377,-0.210852,-0.407527,0.202374,-0.195422,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [121]:
results

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,played 1,...,Greenland 2,Barawa 2,Sudan 2,Honduras 2,Padania 2,Zanzibar 2,Central African Republic 2,Iceland 2,Faroe Islands 2,Yemen 2
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,0,1.974951,...,0,0,0,0,0,0,0,0,0,0
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,0,2.829061,...,0,0,0,0,0,0,0,0,0,0
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,0,1.974951,...,0,0,0,0,0,0,0,0,0,0
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,0,2.829061,...,0,0,0,0,0,0,0,0,0,0
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,0,1.974951,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44055,2022-09-27,Norway,Serbia,0.0,2.0,UEFA Nations League,Oslo,Norway,0,2.045203,...,0,0,0,0,0,0,0,0,0,0
44056,2022-09-27,Sweden,Slovenia,1.0,1.0,UEFA Nations League,Stockholm,Sweden,0,2.854943,...,0,0,0,0,0,0,0,0,0,0
44057,2022-09-27,Kosovo,Cyprus,5.0,1.0,UEFA Nations League,Pristina,Kosovo,0,-0.775949,...,0,0,0,0,0,0,0,0,0,0
44058,2022-09-27,Greece,Northern Ireland,3.0,1.0,UEFA Nations League,Athens,Greece,0,1.157815,...,0,0,0,0,0,0,0,0,0,0
44059,2022-09-30,Fiji,Solomon Islands,NaN,NaN,MSG Prime Minister's Cup,Luganville,Vanuatu,1,-0.184357,...,0,0,0,0,0,0,0,0,0,0

In [156]:
# Data for model 1:
Y = data_1['result']
X = data_1.drop(['result'], axis=1)
X

,date,neutral,played 1,played 2,win 1,win 2,lose 1,lose 2,win_1_vs_2,lose_1_vs_2,...,Greenland 2,Barawa 2,Sudan 2,Honduras 2,Padania 2,Zanzibar 2,Central African Republic 2,Iceland 2,Faroe Islands 2,Yemen 2
1,-4.832257,0.0,2.829061,1.974951,3.813250,2.183598,1.012904,1.570149,3.387917,2.971062,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-4.791581,0.0,1.974951,2.829061,2.183598,3.813250,1.570149,1.012904,2.871342,3.498809,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-4.710229,0.0,1.974951,2.829061,2.183598,3.813250,1.570149,1.012904,2.871342,3.498809,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,-4.710229,0.0,1.974951,1.516468,2.183598,0.890844,1.570149,2.291291,4.507161,1.299862,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,-4.669553,0.0,2.829061,1.974951,3.813250,2.183598,1.012904,1.570149,3.387917,2.971062,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44052,1.228444,0.0,1.165210,-0.158475,0.937854,-0.378404,0.958272,0.226204,-0.486392,-0.635211,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44055,1.228444,0.0,2.045203,0.096648,1.564643,0.248385,2.498892,-0.221778,-0.572488,-0.459295,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44057,1.228444,0.0,-0.775949,0.410931,-0.636955,-0.268716,-0.844582,1.570149,-0.572488,-0.723169,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44058,1.228444,0.0,1.157815,1.457309,0.898679,0.506936,1.253284,2.608156,-0.228105,-0.459295,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44059,1.228444,1.0,-0.184357,-0.369230,-0.057175,-0.237377,-0.210852,-0.407527,0.202374,-0.195422,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Training NN-winner model

In [157]:
from keras.models import Sequential, load_model
from keras.layers import Dense
from sklearn.preprocessing import LabelBinarizer
import keras

label_binarizer = LabelBinarizer()
y_train = label_binarizer.fit_transform(Y)
y_train

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [1]])

In [158]:
num_classes = y_train.shape[1]
num_input = X.shape[1]

model_winner = Sequential()
model_winner.add(Dense(1024, input_dim=num_input, activation='relu'))
model_winner.add(Dense(2048, activation='relu'))
model_winner.add(Dense(1024, activation='relu'))
model_winner.add(Dense(512, activation='relu'))
model_winner.add(Dense(256, activation='relu'))
model_winner.add(Dense(num_classes, activation='sigmoid'))

#model_winner.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
model_winner.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
  
model_winner.fit(X, y_train, epochs=150, batch_size=64)
model_winner.save('my_model_winner.h5')

Epoch 1/150
530/530 [==============================] - 3s 5ms/step - loss: 0.4897 - accuracy: 0.7646
Epoch 2/150
530/530 [==============================] - 2s 4ms/step - loss: 0.4527 - accuracy: 0.7860
Epoch 3/150
530/530 [==============================] - 3s 5ms/step - loss: 0.4293 - accuracy: 0.7954
Epoch 4/150
530/530 [==============================] - 2s 4ms/step - loss: 0.4106 - accuracy: 0.8030
Epoch 5/150
530/530 [==============================] - 2s 4ms/step - loss: 0.3955 - accuracy: 0.8094
Epoch 6/150
530/530 [==============================] - 3s 6ms/step - loss: 0.3784 - accuracy: 0.8145
Epoch 7/150
530/530 [==============================] - 2s 4ms/step - loss: 0.3623 - accuracy: 0.8211
Epoch 8/150
530/530 [==============================] - 2s 4ms/step - loss: 0.3479 - accuracy: 0.8245
Epoch 9/150
530/530 [==============================] - 2s 4ms/step - loss: 0.3359 - accuracy: 0.8305
Epoch 10/150
530/530 [==============================] - 2s 4ms/step - loss: 0.3245 - accuracy: 0.8323
Epoch 11/150
530/530 [==============================] - 2s 4ms/step - loss: 0.3118 - accuracy: 0.8405
Epoch 12/150
530/530 [==============================] - 2s 4ms/step - loss: 0.3050 - accuracy: 0.8440
Epoch 13/150
530/530 [==============================] - 2s 4ms/step - loss: 0.2946 - accuracy: 0.8475
Epoch 14/150
530/530 [==============================] - 2s 4ms/step - loss: 0.2875 - accuracy: 0.8520
Epoch 15/150
530/530 [==============================] - 2s 4ms/step - loss: 0.2813 - accuracy: 0.8541
Epoch 16/150
530/530 [==============================] - 2s 4ms/step - loss: 0.2714 - accuracy: 0.8591
Epoch 17/150
530/530 [==============================] - 2s 4ms/step - loss: 0.2674 - accuracy: 0.8610
Epoch 18/150
530/530 [==============================] - 2s 4ms/step - loss: 0.2579 - accuracy: 0.8666
Epoch 19/150
530/530 [==============================] - 2s 4ms/step - loss: 0.2533 - accuracy: 0.8681
Epoch 20/150
530/530 [==============================] - 3s 5ms/step - loss: 0.2505 - accuracy: 0.8722
Epoch 21/150
530/530 [==============================] - 3s 5ms/step - loss: 0.2430 - accuracy: 0.8731
Epoch 22/150
530/530 [==============================] - 2s 4ms/step - loss: 0.2392 - accuracy: 0.8760
Epoch 23/150
530/530 [==============================] - 2s 4ms/step - loss: 0.2324 - accuracy: 0.8799
Epoch 24/150
530/530 [==============================] - 2s 4ms/step - loss: 0.2298 - accuracy: 0.8801
Epoch 25/150
530/530 [==============================] - 2s 4ms/step - loss: 0.2263 - accuracy: 0.8842
Epoch 26/150
530/530 [==============================] - 2s 4ms/step - loss: 0.2194 - accuracy: 0.8852
Epoch 27/150
530/530 [==============================] - 2s 4ms/step - loss: 0.2192 - accuracy: 0.8861
Epoch 28/150
530/530 [==============================] - 2s 4ms/step - loss: 0.2138 - accuracy: 0.8885
Epoch 29/150
530/530 [==============================] - 2s 4ms/step - loss: 0.2099 - accuracy: 0.8915
Epoch 30/150
530/530 [==============================] - 2s 4ms/step - loss: 0.2106 - accuracy: 0.8928
Epoch 31/150
530/530 [==============================] - 2s 4ms/step - loss: 0.2049 - accuracy: 0.8934
Epoch 32/150
530/530 [==============================] - 2s 4ms/step - loss: 0.2047 - accuracy: 0.8942
Epoch 33/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1999 - accuracy: 0.8972
Epoch 34/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1982 - accuracy: 0.8966
Epoch 35/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1974 - accuracy: 0.8977
Epoch 36/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1931 - accuracy: 0.8995
Epoch 37/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1919 - accuracy: 0.9004
Epoch 38/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1892 - accuracy: 0.9025
Epoch 39/150
530/530 [==============================] - 3s 5ms/step - loss: 0.1884 - accuracy: 0.9033
Epoch 40/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1840 - accuracy: 0.9045
Epoch 41/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1827 - accuracy: 0.9050
Epoch 42/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1802 - accuracy: 0.9042
Epoch 43/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1788 - accuracy: 0.9084
Epoch 44/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1802 - accuracy: 0.9062
Epoch 45/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1801 - accuracy: 0.9078
Epoch 46/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1733 - accuracy: 0.9102
Epoch 47/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1770 - accuracy: 0.9091
Epoch 48/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1735 - accuracy: 0.9102
Epoch 49/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1700 - accuracy: 0.9116
Epoch 50/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1710 - accuracy: 0.9121
Epoch 51/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1693 - accuracy: 0.9120
Epoch 52/150
530/530 [==============================] - 3s 5ms/step - loss: 0.1677 - accuracy: 0.9122
Epoch 53/150
530/530 [==============================] - 2s 5ms/step - loss: 0.1661 - accuracy: 0.9136
Epoch 54/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1648 - accuracy: 0.9133
Epoch 55/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1613 - accuracy: 0.9159
Epoch 56/150
530/530 [==============================] - 3s 5ms/step - loss: 0.1638 - accuracy: 0.9151
Epoch 57/150
530/530 [==============================] - 3s 5ms/step - loss: 0.1694 - accuracy: 0.9149
Epoch 58/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1636 - accuracy: 0.9154
Epoch 59/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1590 - accuracy: 0.9163
Epoch 60/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1563 - accuracy: 0.9171
Epoch 61/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1567 - accuracy: 0.9200
Epoch 62/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1562 - accuracy: 0.9190
Epoch 63/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1544 - accuracy: 0.9201
Epoch 64/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1554 - accuracy: 0.9194
Epoch 65/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1521 - accuracy: 0.9197
Epoch 66/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1530 - accuracy: 0.9214
Epoch 67/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1545 - accuracy: 0.9208
Epoch 68/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1504 - accuracy: 0.9207
Epoch 69/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1499 - accuracy: 0.9219
Epoch 70/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1490 - accuracy: 0.9213
Epoch 71/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1493 - accuracy: 0.9223
Epoch 72/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1468 - accuracy: 0.9225
Epoch 73/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1457 - accuracy: 0.9236
Epoch 74/150
530/530 [==============================] - 3s 5ms/step - loss: 0.1447 - accuracy: 0.9243
Epoch 75/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1512 - accuracy: 0.9226
Epoch 76/150
530/530 [==============================] - 2s 5ms/step - loss: 0.1453 - accuracy: 0.9243
Epoch 77/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1444 - accuracy: 0.9253
Epoch 78/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1403 - accuracy: 0.9261
Epoch 79/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1439 - accuracy: 0.9244
Epoch 80/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1411 - accuracy: 0.9261
Epoch 81/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1414 - accuracy: 0.9269
Epoch 82/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1454 - accuracy: 0.9252
Epoch 83/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1417 - accuracy: 0.9259
Epoch 84/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1414 - accuracy: 0.9270
Epoch 85/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1354 - accuracy: 0.9283
Epoch 86/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1356 - accuracy: 0.9284
Epoch 87/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1402 - accuracy: 0.9293
Epoch 88/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1365 - accuracy: 0.9294
Epoch 89/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1370 - accuracy: 0.9288
Epoch 90/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1376 - accuracy: 0.9300
Epoch 91/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1348 - accuracy: 0.9300
Epoch 92/150
530/530 [==============================] - 3s 5ms/step - loss: 0.1377 - accuracy: 0.9287
Epoch 93/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1348 - accuracy: 0.9300
Epoch 94/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1327 - accuracy: 0.9309
Epoch 95/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1295 - accuracy: 0.9322
Epoch 96/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1304 - accuracy: 0.9315
Epoch 97/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1289 - accuracy: 0.9316
Epoch 98/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1339 - accuracy: 0.9305
Epoch 99/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1281 - accuracy: 0.9336
Epoch 100/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1287 - accuracy: 0.9327
Epoch 101/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1302 - accuracy: 0.9320
Epoch 102/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1320 - accuracy: 0.9322
Epoch 103/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1296 - accuracy: 0.9329
Epoch 104/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1268 - accuracy: 0.9341
Epoch 105/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1296 - accuracy: 0.9327
Epoch 106/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1286 - accuracy: 0.9346
Epoch 107/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1250 - accuracy: 0.9347
Epoch 108/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1243 - accuracy: 0.9345
Epoch 109/150
530/530 [==============================] - 3s 5ms/step - loss: 0.1211 - accuracy: 0.9364
Epoch 110/150
530/530 [==============================] - 3s 5ms/step - loss: 0.1260 - accuracy: 0.9342
Epoch 111/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1255 - accuracy: 0.9348
Epoch 112/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1252 - accuracy: 0.9345
Epoch 113/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1239 - accuracy: 0.9357
Epoch 114/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1216 - accuracy: 0.9357
Epoch 115/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1255 - accuracy: 0.9352
Epoch 116/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1207 - accuracy: 0.9357
Epoch 117/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1201 - accuracy: 0.9355
Epoch 118/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1226 - accuracy: 0.9367
Epoch 119/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1180 - accuracy: 0.9381
Epoch 120/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1257 - accuracy: 0.9371
Epoch 121/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1224 - accuracy: 0.9363
Epoch 122/150
530/530 [==============================] - 2s 5ms/step - loss: 0.1197 - accuracy: 0.9384
Epoch 123/150
530/530 [==============================] - 3s 5ms/step - loss: 0.1209 - accuracy: 0.9396
Epoch 124/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1157 - accuracy: 0.9400
Epoch 125/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1245 - accuracy: 0.9369
Epoch 126/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1165 - accuracy: 0.9393
Epoch 127/150
530/530 [==============================] - 2s 5ms/step - loss: 0.1163 - accuracy: 0.9387
Epoch 128/150
530/530 [==============================] - 3s 5ms/step - loss: 0.1184 - accuracy: 0.9391
Epoch 129/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1203 - accuracy: 0.9390
Epoch 130/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1178 - accuracy: 0.9389
Epoch 131/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1160 - accuracy: 0.9404
Epoch 132/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1188 - accuracy: 0.9401
Epoch 133/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1203 - accuracy: 0.9402
Epoch 134/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1183 - accuracy: 0.9397
Epoch 135/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1159 - accuracy: 0.9401
Epoch 136/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1113 - accuracy: 0.9414
Epoch 137/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1101 - accuracy: 0.9414
Epoch 138/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1128 - accuracy: 0.9405
Epoch 139/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1116 - accuracy: 0.9405
Epoch 140/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1218 - accuracy: 0.9401
Epoch 141/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1136 - accuracy: 0.9413
Epoch 142/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1116 - accuracy: 0.9432
Epoch 143/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1100 - accuracy: 0.9429
Epoch 144/150
530/530 [==============================] - 2s 5ms/step - loss: 0.1114 - accuracy: 0.9424
Epoch 145/150
530/530 [==============================] - 3s 5ms/step - loss: 0.1129 - accuracy: 0.9421
Epoch 146/150
530/530 [==============================] - 3s 5ms/step - loss: 0.1150 - accuracy: 0.9408
Epoch 147/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1121 - accuracy: 0.9418
Epoch 148/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1137 - accuracy: 0.9419
Epoch 149/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1089 - accuracy: 0.9435
Epoch 150/150
530/530 [==============================] - 2s 4ms/step - loss: 0.1086 - accuracy: 0.9428

In [159]:
def convert_input_winner(country_1, country_2, paises=countrys, house='Qatar', year=2022):
  out = [(year-date_mean)/date_std] # date is 2022
  #out = []
  out.append(0 if country_1==house else 1)  # neutral: True/False : si jugarán en un lugar neutro, como es el mundial, todos juegan así.

  mean, std = normalize(table_plays)
  out.append((table_plays[country_1]-mean)/std)
  out.append((table_plays[country_2]-mean)/std)

  mean, std = normalize(table_winners)
  out.append((table_winners[country_1]-mean)/std)
  out.append((table_winners[country_2]-mean)/std)
  
  mean, std = normalize(table_losers)
  out.append((table_losers[country_1]-mean)/std)
  out.append((table_losers[country_2]-mean)/std)

  reply = table_1_vs_2[country_1+"_"+country_2]
  out.append((reply[0]-data_1_normalize['win_1_vs_2'][0])/data_1_normalize['win_1_vs_2'][1])
  out.append((reply[1]-data_1_normalize['lose_1_vs_2'][0])/data_1_normalize['lose_1_vs_2'][1])
  out.append((sum(reply)-data_1_normalize['total_1_vs_2'][0])/data_1_normalize['total_1_vs_2'][1])

  out += onehotencoder(paises,country_1) + onehotencoder(paises, country_2)

  return np.array([out])

test = convert_input_winner("Bolivia", "Brazil")
test[0][:25]

array([ 1.22844363,  1.        ,  0.77328107,  2.72553263,  0.01333911,
        4.25983767,  1.71219249,  0.57584825, -0.31420063,  1.29986219,
        0.36971639,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ])

In [160]:
model_winner = load_model('my_model_winner.h5')
test = convert_input_winner("Brazil", "Peru")
print(model_winner.predict(test))
test = convert_input_winner("Peru", "Brazil")
model_winner.predict(test)

1/1 [==============================] - 0s 64ms/step
[[0.2655248]]
1/1 [==============================] - 0s 16ms/step

array([[1.]], dtype=float32)

In [161]:
def predict_winner(country_1, country_2, model, tie = True, ver=False, year=2022):
  party_1 = model.predict(convert_input_winner(country_1, country_2, year=year), verbose=0)[0][0]
  party_2 = model.predict(convert_input_winner(country_2, country_1, year=year), verbose=0)[0][0]
  if ver:
    print(party_1, party_2)
  if (party_1<0.51) == (party_2<0.51):
    if tie:
      return 'Tie'
    else:
      if party_1>party_2:
        return country_2
      return country_1
  elif (party_1<0.51) and (party_2>0.51):
    return country_1
  return country_2

predict_winner("Brazil", "Peru", model_winner), predict_winner("Argentina", "Peru", model_winner, False, True), predict_winner("Peru","Argentina", model_winner, False, True)

0.6130847 1.0
1.0 0.6130847

('Brazil', 'Argentina', 'Argentina')

In [162]:
test = pd.read_csv("/content/InternationalFootballResults_1872to2022_shootouts.csv")
c = list(test['home_team'])
c2 = list(test['away_team'])
w = list(test['winner'])
d = [int(i[:4]) for i in list(test['date'])]

replys = [True if predict_winner(c[i],c2[i], model_winner, tie=False, year=d[i])==w[i] else False for i in range(len(c))]
replys.count(True)/len(replys)

0.504950495049505

# Training NN-gols model

In [163]:
# data for model 2:
results = pd.read_csv("InternationalFootballResults_1872to2022_results.csv")

home = list(results['home_team'])
home_score = list(results['home_score'])

away = list(results['away_team'])
away_score = list(results['away_score'])

home,away = home+away, away+home
home_score,away_score = home_score+away_score, away_score+home_score

winners = [home[i] if home_score[i]>away_score[i] else away[i] for i in range(len(home)) if home_score[i]!=away_score[i]]
losers = [home[i] if home_score[i]<away_score[i] else away[i] for i in range(len(home)) if home_score[i]!=away_score[i]]
ties = [home[i] for i in range(len(home)) if home_score[i]==away_score[i]]
ties += [away[i] for i in range(len(away)) if home_score[i]==away_score[i]]

table_winners = {}
for c in countrys:
    table_winners[c] = winners.count(c)//2

table_losers = {}
for c in countrys:
    table_losers[c] = losers.count(c)//2

table_ties = {}
for c in countrys:
    table_ties[c] = ties.count(c)//2

table_plays = {}
for c in countrys:
  table_plays[c] = table_winners[c] + table_losers[c] + table_ties[c]


table_result = []   # 0(tie), 1(win team 1), 2(win team 2)
for i in range(len(home_score)):
  if home_score[i] == away_score[i]:
    table_result.append(0)
  elif home_score[i] > away_score[i]:
    table_result.append(1)
  else:
    table_result.append(2)

mean, std = normalize(table_plays)
played1 = [(table_plays[country]-mean)/std for country in home]
played2 =  [(table_plays[country]-mean)/std for country in away]

mean, std = normalize(table_winners)
win1 =  [(table_winners[country]-mean)/std for country in home]
win2 = [(table_winners[country]-mean)/std for country in away]

mean, std = normalize(table_losers)
lose1 = [(table_losers[country]-mean)/std for country in home]
lose2 = [(table_losers[country]-mean)/std for country in away]

mean, std = normalize(table_ties)
tie1 = [(table_ties[country]-mean)/std for country in home]
tie2 = [(table_ties[country]-mean)/std for country in away]

arr = []
for i in range(len(home)):
  arr.append(onehotencoder(countrys, home[i]) + onehotencoder(countrys, away[i]))
arr = np.array(arr)

titles = [country+' '+str(i) for i in range(1,3) for country in countrys]
onehot_countrys = pd.DataFrame(arr, columns=titles)

results_2 = pd.concat([results, results], axis=0)

results_2['played 1'] = played1
results_2['played 2'] = played2
results_2['win 1'] = win1
results_2['win 2'] = win2
results_2['lose 1'] = lose1
results_2['lose 2'] = lose2
results_2['tie 1'] = tie1
results_2['tie 2'] = tie2


results_2['win_1_vs_2'] = results_2.apply(lambda x: table_1_vs_2[x['home_team']+"_"+x['away_team']][0], axis=1)
results_2['lose_1_vs_2'] = results_2.apply(lambda x: table_1_vs_2[x['away_team']+"_"+x['home_team']][0], axis=1)
results_2['tie_1_vs_2'] = results_2.apply(lambda x: table_1_vs_2[x['home_team']+"_"+x['away_team']][2], axis=1)
results_2['total_1_vs_2'] = results_2.apply(lambda x: x['win_1_vs_2']+ x['lose_1_vs_2'] + x['tie_1_vs_2'], axis=1)

data_2_normalize = {}
data_2_normalize['win_1_vs_2']= [np.mean(list(results_2['win_1_vs_2'])), np.std(list(results_2['win_1_vs_2']))]
results_2['win_1_vs_2'] = results_2['win_1_vs_2'].map(lambda x: (x-data_2_normalize['win_1_vs_2'][0])/data_2_normalize['win_1_vs_2'][1])

#max_lose_vs = max(results['lose_1_vs_2'])
data_2_normalize['lose_1_vs_2']= [np.mean(list(results_2['lose_1_vs_2'])), np.std(list(results_2['lose_1_vs_2']))]
results_2['lose_1_vs_2'] = results_2['lose_1_vs_2'].map(lambda x: (x-data_2_normalize['lose_1_vs_2'][0])/data_2_normalize['lose_1_vs_2'][1])

data_2_normalize['tie_1_vs_2']= [np.mean(list(results_2['tie_1_vs_2'])), np.std(list(results_2['tie_1_vs_2']))]
results_2['tie_1_vs_2'] = results_2['tie_1_vs_2'].map(lambda x: (x-data_2_normalize['tie_1_vs_2'][0])/data_2_normalize['tie_1_vs_2'][1])

#max_total_vs = max(results['total_1_vs_2'])
data_2_normalize['total_1_vs_2']= [np.mean(list(results_2['total_1_vs_2'])), np.std(list(results_2['total_1_vs_2']))]
results_2['total_1_vs_2'] = results_2['total_1_vs_2'].map(lambda x: (x-data_2_normalize['total_1_vs_2'][0])/data_2_normalize['total_1_vs_2'][1])

results_2['result'] = table_result
#results_2['difference'] = results_2.apply(lambda x: x['home_score'] - x['away_score'], axis=1)
results_2['gols team 1'] = home_score

results_2['neutral'] = results_2['neutral'].map(lambda x: 1 if x==True else 0)

# results_2['date'] = results_2['date'].map(lambda x: (int(str(x)[:4])))
# date_mean, date_std = np.mean(list(results_2['date'])), np.std(list(results_2['date']))
# results_2['date'] = results_2['date'].map(lambda x: (x-date_mean)/date_std)

#print(results_2.shape, onehot_countrys.shape)
results_2.reset_index(inplace=True, drop=True)
onehot_countrys.reset_index(inplace=True, drop=True)
results_2 = pd.concat([results_2, onehot_countrys], axis=1)

data_2 = results_2.drop(['city', 'date', 'country', 'tournament','home_score', 'away_score', 'home_team', 'away_team'], axis=1)

data_2

,neutral,played 1,played 2,win 1,win 2,lose 1,lose 2,tie 1,tie 2,win_1_vs_2,...,Greenland 2,Barawa 2,Sudan 2,Honduras 2,Padania 2,Zanzibar 2,Central African Republic 2,Iceland 2,Faroe Islands 2,Yemen 2
0,0,1.974957,2.829060,2.183609,3.813252,1.570162,1.012924,1.668278,2.773155,2.871342,...,0,0,0,0,0,0,0,0,0,0
1,0,2.829060,1.974957,3.813252,2.183609,1.012924,1.570162,2.773155,1.668278,3.387917,...,0,0,0,0,0,0,0,0,0,0
2,0,1.974957,2.829060,2.183609,3.813252,1.570162,1.012924,1.668278,2.773155,2.871342,...,0,0,0,0,0,0,0,0,0,0
3,0,2.829060,1.974957,3.813252,2.183609,1.012924,1.570162,2.773155,1.668278,3.387917,...,0,0,0,0,0,0,0,0,0,0
4,0,1.974957,2.829060,2.183609,3.813252,1.570162,1.012924,1.668278,2.773155,2.871342,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88115,0,0.096671,2.045208,0.248408,1.564658,-0.221740,2.498891,0.219993,1.862378,-0.572488,...,0,0,0,0,0,0,0,0,0,0
88116,0,-0.014251,2.854942,-0.088489,3.202136,0.007711,2.192957,0.100546,2.429747,-0.572488,...,0,0,0,0,0,0,0,0,0,0
88117,0,0.410951,-0.775919,-0.268690,-0.636926,1.570162,-0.844535,0.025893,-0.765438,-0.572488,...,0,0,0,0,0,0,0,0,0,0
88118,0,1.457319,1.157829,0.506958,0.898699,2.608154,1.253301,1.354732,1.250216,-0.228105,...,0,0,0,0,0,0,0,0,0,0
88119,1,-0.376598,-0.184332,-0.245185,-0.057150,-0.418412,-0.210814,-0.481754,-0.347377,0.202374,...,0,0,0,0,0,0,0,0,0,0

In [170]:
Y = data_2['gols team 1']
X = data_2.drop(['gols team 1','result'], axis=1)
X.insert(X.shape[1], "party tie", data_2['result'].map(lambda x: 0 if x!=0 else 1))
X.insert(X.shape[1], "win country 1", data_2['result'].map(lambda x: 0 if x!=1 else 1))
X.insert(X.shape[1], "win country 2", data_2['result'].map(lambda x: 0 if x!=2 else 1))
X.head()

,neutral,played 1,played 2,win 1,win 2,lose 1,lose 2,tie 1,tie 2,win_1_vs_2,...,Honduras 2,Padania 2,Zanzibar 2,Central African Republic 2,Iceland 2,Faroe Islands 2,Yemen 2,party tie,win country 1,win country 2
0,0,1.974957,2.829060,2.183609,3.813252,1.570162,1.012924,1.668278,2.773155,2.871342,...,0,0,0,0,0,0,0,1,0,0
1,0,2.829060,1.974957,3.813252,2.183609,1.012924,1.570162,2.773155,1.668278,3.387917,...,0,0,0,0,0,0,0,0,1,0
2,0,1.974957,2.829060,2.183609,3.813252,1.570162,1.012924,1.668278,2.773155,2.871342,...,0,0,0,0,0,0,0,0,1,0
3,0,2.829060,1.974957,3.813252,2.183609,1.012924,1.570162,2.773155,1.668278,3.387917,...,0,0,0,0,0,0,0,1,0,0
4,0,1.974957,2.829060,2.183609,3.813252,1.570162,1.012924,1.668278,2.773155,2.871342,...,0,0,0,0,0,0,0,0,1,0

In [171]:
Y = Y.map(lambda x: abs(x))
Y

0        0.0
1        4.0
2        2.0
3        2.0
4        3.0
        ...
88115    2.0
88116    1.0
88117    1.0
88118    1.0
88119    NaN
Name: gols team 1, Length: 88120, dtype: float64

In [172]:
Y = Y.fillna(0)
Y

0        0.0
1        4.0
2        2.0
3        2.0
4        3.0
        ...
88115    2.0
88116    1.0
88117    1.0
88118    1.0
88119    0.0
Name: gols team 1, Length: 88120, dtype: float64

In [173]:
from keras.models import Sequential, load_model
from keras.layers import Dense
from sklearn.preprocessing import LabelBinarizer
import keras

label_binarizer = LabelBinarizer()
y_train = label_binarizer.fit_transform(Y)
y_train

array([[1, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       ...,
       [0, 1, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0]])

In [94]:
y_train.shape

(88120, 26)

In [95]:
num_classes = y_train.shape[1]
num_input = X.shape[1]

model = Sequential()
model.add(Dense(1024, input_dim=num_input, activation='relu'))
model.add(Dense(2048, activation='relu'))
model.add(Dense(2048, activation='relu'))
model.add(Dense(1024, activation='relu'))
model.add(Dense(num_classes, activation='softmax'))

model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

model.fit(X, y_train, epochs=200, batch_size=64)

Epoch 1/200
1377/1377 [==============================] - 7s 5ms/step - loss: 1.3012 - accuracy: 0.4404
Epoch 2/200
1377/1377 [==============================] - 6s 5ms/step - loss: 1.2650 - accuracy: 0.4501
Epoch 3/200
1377/1377 [==============================] - 6s 5ms/step - loss: 1.2529 - accuracy: 0.4540
Epoch 4/200
1377/1377 [==============================] - 6s 5ms/step - loss: 1.2399 - accuracy: 0.4580
Epoch 5/200
1377/1377 [==============================] - 6s 5ms/step - loss: 1.2260 - accuracy: 0.4627
Epoch 6/200
1377/1377 [==============================] - 6s 5ms/step - loss: 1.2089 - accuracy: 0.4707
Epoch 7/200
1377/1377 [==============================] - 7s 5ms/step - loss: 1.1860 - accuracy: 0.4788
Epoch 8/200
1377/1377 [==============================] - 6s 5ms/step - loss: 1.1588 - accuracy: 0.4923
Epoch 9/200
1377/1377 [==============================] - 6s 5ms/step - loss: 1.1297 - accuracy: 0.5058
Epoch 10/200
1377/1377 [==============================] - 6s 5ms/step - loss: 1.1002 - accuracy: 0.5171
Epoch 11/200
1377/1377 [==============================] - 6s 5ms/step - loss: 1.0682 - accuracy: 0.5296
Epoch 12/200
1377/1377 [==============================] - 6s 5ms/step - loss: 1.0403 - accuracy: 0.5426
Epoch 13/200
1377/1377 [==============================] - 6s 5ms/step - loss: 1.0122 - accuracy: 0.5520
Epoch 14/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.9873 - accuracy: 0.5632
Epoch 15/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.9603 - accuracy: 0.5724
Epoch 16/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.9376 - accuracy: 0.5811
Epoch 17/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.9137 - accuracy: 0.5894
Epoch 18/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.8908 - accuracy: 0.5992
Epoch 19/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.8739 - accuracy: 0.6039
Epoch 20/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.8542 - accuracy: 0.6109
Epoch 21/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.8353 - accuracy: 0.6159
Epoch 22/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.8204 - accuracy: 0.6199
Epoch 23/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.8040 - accuracy: 0.6281
Epoch 24/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.7961 - accuracy: 0.6277
Epoch 25/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.7802 - accuracy: 0.6331
Epoch 26/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.7710 - accuracy: 0.6359
Epoch 27/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.7583 - accuracy: 0.6392
Epoch 28/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.7514 - accuracy: 0.6428
Epoch 29/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.7428 - accuracy: 0.6427
Epoch 30/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.7358 - accuracy: 0.6456
Epoch 31/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.7280 - accuracy: 0.6494
Epoch 32/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.7186 - accuracy: 0.6493
Epoch 33/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.7219 - accuracy: 0.6504
Epoch 34/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.7089 - accuracy: 0.6535
Epoch 35/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.7081 - accuracy: 0.6560
Epoch 36/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.7048 - accuracy: 0.6555
Epoch 37/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6981 - accuracy: 0.6570
Epoch 38/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6967 - accuracy: 0.6596
Epoch 39/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6909 - accuracy: 0.6583
Epoch 40/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6927 - accuracy: 0.6599
Epoch 41/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6898 - accuracy: 0.6624
Epoch 42/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6814 - accuracy: 0.6626
Epoch 43/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6826 - accuracy: 0.6629
Epoch 44/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6749 - accuracy: 0.6662
Epoch 45/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6754 - accuracy: 0.6653
Epoch 46/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6723 - accuracy: 0.6668
Epoch 47/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6764 - accuracy: 0.6663
Epoch 48/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6718 - accuracy: 0.6690
Epoch 49/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6687 - accuracy: 0.6673
Epoch 50/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6651 - accuracy: 0.6686
Epoch 51/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6595 - accuracy: 0.6680
Epoch 52/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6611 - accuracy: 0.6702
Epoch 53/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6671 - accuracy: 0.6697
Epoch 54/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6585 - accuracy: 0.6717
Epoch 55/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6581 - accuracy: 0.6718
Epoch 56/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6580 - accuracy: 0.6740
Epoch 57/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6585 - accuracy: 0.6720
Epoch 58/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6556 - accuracy: 0.6739
Epoch 59/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6503 - accuracy: 0.6731
Epoch 60/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6503 - accuracy: 0.6754
Epoch 61/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6465 - accuracy: 0.6748
Epoch 62/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6533 - accuracy: 0.6753
Epoch 63/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6498 - accuracy: 0.6752
Epoch 64/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6535 - accuracy: 0.6752
Epoch 65/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6454 - accuracy: 0.6762
Epoch 66/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6525 - accuracy: 0.6752
Epoch 67/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6430 - accuracy: 0.6782
Epoch 68/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6473 - accuracy: 0.6776
Epoch 69/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6439 - accuracy: 0.6787
Epoch 70/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6396 - accuracy: 0.6788
Epoch 71/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6434 - accuracy: 0.6777
Epoch 72/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6476 - accuracy: 0.6771
Epoch 73/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6402 - accuracy: 0.6802
Epoch 74/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6433 - accuracy: 0.6800
Epoch 75/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6352 - accuracy: 0.6811
Epoch 76/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6435 - accuracy: 0.6798
Epoch 77/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6354 - accuracy: 0.6813
Epoch 78/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6552 - accuracy: 0.6795
Epoch 79/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6383 - accuracy: 0.6816
Epoch 80/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6313 - accuracy: 0.6818
Epoch 81/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6279 - accuracy: 0.6825
Epoch 82/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6363 - accuracy: 0.6825
Epoch 83/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6483 - accuracy: 0.6812
Epoch 84/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6418 - accuracy: 0.6812
Epoch 85/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6416 - accuracy: 0.6830
Epoch 86/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6281 - accuracy: 0.6830
Epoch 87/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6331 - accuracy: 0.6833
Epoch 88/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6362 - accuracy: 0.6832
Epoch 89/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6298 - accuracy: 0.6840
Epoch 90/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6292 - accuracy: 0.6841
Epoch 91/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6393 - accuracy: 0.6835
Epoch 92/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6341 - accuracy: 0.6837
Epoch 93/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6288 - accuracy: 0.6841
Epoch 94/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6402 - accuracy: 0.6831
Epoch 95/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6269 - accuracy: 0.6848
Epoch 96/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6287 - accuracy: 0.6846
Epoch 97/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6370 - accuracy: 0.6835
Epoch 98/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6260 - accuracy: 0.6849
Epoch 99/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6326 - accuracy: 0.6855
Epoch 100/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6375 - accuracy: 0.6838
Epoch 101/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6379 - accuracy: 0.6839
Epoch 102/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6217 - accuracy: 0.6853
Epoch 103/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6224 - accuracy: 0.6870
Epoch 104/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6311 - accuracy: 0.6843
Epoch 105/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6288 - accuracy: 0.6860
Epoch 106/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6246 - accuracy: 0.6861
Epoch 107/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6255 - accuracy: 0.6863
Epoch 108/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6354 - accuracy: 0.6849
Epoch 109/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6267 - accuracy: 0.6868
Epoch 110/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6275 - accuracy: 0.6856
Epoch 111/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6293 - accuracy: 0.6847
Epoch 112/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6356 - accuracy: 0.6857
Epoch 113/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6268 - accuracy: 0.6847
Epoch 114/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6346 - accuracy: 0.6856
Epoch 115/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6271 - accuracy: 0.6858
Epoch 116/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6226 - accuracy: 0.6856
Epoch 117/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6360 - accuracy: 0.6844
Epoch 118/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6198 - accuracy: 0.6880
Epoch 119/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6292 - accuracy: 0.6863
Epoch 120/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6258 - accuracy: 0.6876
Epoch 121/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6208 - accuracy: 0.6872
Epoch 122/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6231 - accuracy: 0.6872
Epoch 123/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6251 - accuracy: 0.6865
Epoch 124/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6245 - accuracy: 0.6862
Epoch 125/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6250 - accuracy: 0.6872
Epoch 126/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6382 - accuracy: 0.6848
Epoch 127/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6208 - accuracy: 0.6881
Epoch 128/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6245 - accuracy: 0.6877
Epoch 129/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6215 - accuracy: 0.6889
Epoch 130/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6360 - accuracy: 0.6873
Epoch 131/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6173 - accuracy: 0.6894
Epoch 132/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6258 - accuracy: 0.6878
Epoch 133/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6223 - accuracy: 0.6897
Epoch 134/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6203 - accuracy: 0.6870
Epoch 135/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6196 - accuracy: 0.6888
Epoch 136/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6356 - accuracy: 0.6868
Epoch 137/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6259 - accuracy: 0.6888
Epoch 138/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6256 - accuracy: 0.6888
Epoch 139/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6324 - accuracy: 0.6875
Epoch 140/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6255 - accuracy: 0.6878
Epoch 141/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6425 - accuracy: 0.6878
Epoch 142/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6135 - accuracy: 0.6908
Epoch 143/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6156 - accuracy: 0.6892
Epoch 144/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6165 - accuracy: 0.6891
Epoch 145/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6236 - accuracy: 0.6882
Epoch 146/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6431 - accuracy: 0.6860
Epoch 147/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6155 - accuracy: 0.6891
Epoch 148/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6256 - accuracy: 0.6871
Epoch 149/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6228 - accuracy: 0.6889
Epoch 150/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6264 - accuracy: 0.6877
Epoch 151/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6457 - accuracy: 0.6858
Epoch 152/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6273 - accuracy: 0.6875
Epoch 153/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6151 - accuracy: 0.6902
Epoch 154/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6259 - accuracy: 0.6890
Epoch 155/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6310 - accuracy: 0.6877
Epoch 156/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6187 - accuracy: 0.6894
Epoch 157/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6138 - accuracy: 0.6913
Epoch 158/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6267 - accuracy: 0.6889
Epoch 159/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6420 - accuracy: 0.6900
Epoch 160/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6274 - accuracy: 0.6876
Epoch 161/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6182 - accuracy: 0.6900
Epoch 162/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6214 - accuracy: 0.6909
Epoch 163/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6206 - accuracy: 0.6892
Epoch 164/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6321 - accuracy: 0.6882
Epoch 165/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6186 - accuracy: 0.6908
Epoch 166/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6220 - accuracy: 0.6897
Epoch 167/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6125 - accuracy: 0.6910
Epoch 168/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6210 - accuracy: 0.6902
Epoch 169/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6219 - accuracy: 0.6902
Epoch 170/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6163 - accuracy: 0.6900
Epoch 171/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6288 - accuracy: 0.6890
Epoch 172/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6185 - accuracy: 0.6894
Epoch 173/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6231 - accuracy: 0.6898
Epoch 174/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6160 - accuracy: 0.6907
Epoch 175/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6363 - accuracy: 0.6857
Epoch 176/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6148 - accuracy: 0.6910
Epoch 177/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6167 - accuracy: 0.6897
Epoch 178/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6332 - accuracy: 0.6873
Epoch 179/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6204 - accuracy: 0.6903
Epoch 180/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6362 - accuracy: 0.6866
Epoch 181/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6147 - accuracy: 0.6922
Epoch 182/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6100 - accuracy: 0.6917
Epoch 183/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6240 - accuracy: 0.6921
Epoch 184/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6188 - accuracy: 0.6910
Epoch 185/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6176 - accuracy: 0.6905
Epoch 186/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6128 - accuracy: 0.6910
Epoch 187/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6390 - accuracy: 0.6872
Epoch 188/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6274 - accuracy: 0.6900
Epoch 189/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6100 - accuracy: 0.6922
Epoch 190/200
1377/1377 [==============================] - 6s 5ms/step - loss: 0.6140 - accuracy: 0.6901
Epoch 191/200
1377/1377 [==============================] - 7s 5ms/step - loss: 0.6872 - accuracy: 0.6886
Epoch 192/200

In [174]:
model.save('my_model_gols.h5')
clases = label_binarizer.classes_
clases

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 14., 15., 16., 17., 18., 19., 20., 21., 22., 24., 30., 31.])

In [175]:
def convert_input_winner_2(country_1, country_2, paises=countrys, house='Qatar', year=2022):
  #out = [(year-date_mean)/date_std] # date is 2022
  out = []
  out.append(0 if country_1==house else 1)  # neutral: True/False : si jugarán en un lugar neutro, como es el mundial, todos juegan así.

  mean, std = normalize(table_plays)
  out.append((table_plays[country_1]-mean)/std)
  out.append((table_plays[country_2]-mean)/std)

  mean, std = normalize(table_winners)
  out.append((table_winners[country_1]-mean)/std)
  out.append((table_winners[country_2]-mean)/std)
  
  mean, std = normalize(table_losers)
  out.append((table_losers[country_1]-mean)/std)
  out.append((table_losers[country_2]-mean)/std)

  mean, std = normalize(table_ties)
  out.append((table_ties[country_1]-mean)/std)
  out.append((table_ties[country_2]-mean)/std)

  reply = table_1_vs_2[country_1+"_"+country_2]
  out.append((reply[0]-data_2_normalize['win_1_vs_2'][0])/data_2_normalize['win_1_vs_2'][1])
  out.append((reply[1]-data_2_normalize['lose_1_vs_2'][0])/data_2_normalize['lose_1_vs_2'][1])
  out.append((reply[2]-data_2_normalize['tie_1_vs_2'][0])/data_2_normalize['tie_1_vs_2'][1])
  out.append((sum(reply)-data_2_normalize['total_1_vs_2'][0])/data_2_normalize['total_1_vs_2'][1])

  out += onehotencoder(paises,country_1) + onehotencoder(paises, country_2)

  return np.array([out])

def predict_results_full(country_1, country_2, model_winner, model, clases, tie=True):
  test = list(convert_input_winner_2(country_1, country_2)[0])
  test_2 = list(convert_input_winner_2(country_2, country_1)[0])
  win = predict_winner(country_1, country_2, model_winner, tie)
  if win == 'Tie':
    win = country_1 + "_" + country_2
    test.extend([1,0,0])
    test_2.extend([1,0,0])
  elif win==country_1:
    win += "_"+country_2
    test.extend([0,1,0])
    test_2.extend([0,0,1])
  else:
    win += "_"+country_1
    test.extend([0,0,1])
    test_2.extend([0,1,0])

  test = np.array([test])
  test_2 = np.array([test_2])

  pred_1 = model.predict(test, verbose=0)[0]
  pred_2 = model.predict(test_2, verbose=0)[0]
  pos_1 = np.argmax(pred_1)
  pos_2 = np.argmax(pred_2)
  if not tie and pos_1==pos_2:
    if pred_1[pos_1]>pred_2[pos_2]:
      b = pred_1[pos_1]
      a = pred_1
      mx = -10000000
      for i in a:
        if i>mx and i!= b:
          mx = i
      for i in range(len(a)):
        if a[i]==mx:
          pos_1 = i
          break
    else:
      b = pred_2[pos_2]
      a = pred_2
      mx = -10000000
      for i in a:
        if i>mx and i!= b:
          mx = i
      for i in range(len(a)):
        if a[i]==mx:
          pos_2 = i
          break
  prediction = clases[pos_1]
  prediction_2 = clases[pos_2]
  return country_1 + " ("+str(int(prediction))+"-"+str(int(prediction_2))+") " + country_2

predict_results_full("Brazil", "Peru", model_winner, model, clases)

'Brazil (2-0) Peru'

In [176]:
predict_results_full("Peru", "Brazil", model_winner, model, clases), predict_results_full("Brazil", "Peru", model_winner, model, clases)

('Peru (0-2) Brazil', 'Brazil (2-0) Peru')

In [177]:
predict_results_full("Chile", "Peru", model_winner, model, clases), predict_results_full("Peru", "Chile", model_winner, model, clases)

('Chile (0-3) Peru', 'Peru (3-0) Chile')

In [178]:
predict_results_full("Qatar", "Peru", model_winner, model, clases), predict_results_full("Peru", "Qatar", model_winner, model, clases)

('Qatar (0-2) Peru', 'Peru (2-0) Qatar')

In [179]:
predict_results_full("Argentina", "Peru", model_winner, model, clases), predict_results_full("Peru","Argentina", model_winner, model, clases)

('Argentina (2-1) Peru', 'Peru (1-2) Argentina')

In [180]:
predict_results_full("Brazil", "Bolivia", model_winner, model, clases), predict_results_full("Bolivia", "Brazil", model_winner, model, clases)

('Brazil (8-0) Bolivia', 'Bolivia (0-8) Brazil')

In [181]:
def predict_results(country_1, country_2, model_winner, model, clases, tie=True):
  cad = predict_results_full(country_1, country_2, model_winner, model, clases, tie).split("-")
  team_1 = int(cad[0][-1])
  team_2 = int(cad[1][0])

  if team_1 > team_2:
    return cad[0][:len(cad[0])-3]+"_"+cad[1][3:]+"_+"+str(team_1-team_2)
  else:
    return cad[1][3:]+"_"+cad[0][:len(cad[0])-3]+"_+"+str(team_2-team_1)

predict_results("Brazil", "Bolivia", model_winner, model, clases)

'Brazil_Bolivia_+8'

In [182]:
predict_results("Chile", "Peru", model_winner, model, clases, False)

'Peru_Chile_+3'

# Grupos

In [183]:
Groups = {"Group A": ["Qatar",  "Ecuador", "Senegal" ,"Netherlands"],
          "Group B": ["England",  "Iran", "United States",  "Wales"],
          "Group C": ["Argentina",  "Saudi Arabia",  "Mexico",  "Poland"],
          "Group D": ["France",  "Australia",  "Denmark",  "Tunisia"],
          "Group E": ["Spain",  "Costa Rica",  "Germany",  "Japan"],
          "Group F": ["Belgium",  "Canada",  "Morocco", "Croatia"],
          "Group G": ["Brazil", "Serbia",  "Switzerland",  "Cameroon"],
          "Group H": ["Portugal",  "Ghana", "Uruguay",  "South Korea"]}
Groups

{'Group A': ['Qatar', 'Ecuador', 'Senegal', 'Netherlands'],
 'Group B': ['England', 'Iran', 'United States', 'Wales'],
 'Group C': ['Argentina', 'Saudi Arabia', 'Mexico', 'Poland'],
 'Group D': ['France', 'Australia', 'Denmark', 'Tunisia'],
 'Group E': ['Spain', 'Costa Rica', 'Germany', 'Japan'],
 'Group F': ['Belgium', 'Canada', 'Morocco', 'Croatia'],
 'Group G': ['Brazil', 'Serbia', 'Switzerland', 'Cameroon'],
 'Group H': ['Portugal', 'Ghana', 'Uruguay', 'South Korea']}

In [184]:
import itertools
list(itertools.combinations(Groups["Group A"], 2))

[('Qatar', 'Ecuador'),
 ('Qatar', 'Senegal'),
 ('Qatar', 'Netherlands'),
 ('Ecuador', 'Senegal'),
 ('Ecuador', 'Netherlands'),
 ('Senegal', 'Netherlands')]

In [185]:
def win_groups(group_X):
  print("======================>",group_X)
  partys = list(itertools.combinations(Groups[group_X], 2))
  match = []
  played = []
  for party in partys:
    played.append(predict_results_full(party[0], party[1], model_winner, model, clases))
    print(played[-1])
    match.append(predict_results(party[0], party[1], model_winner, model, clases))
  
  positions = dict(zip(Groups[group_X], [{"win":0.0,"GF":0.0, "DG":0.0}, 
                                         {"win":0.0,"GF":0.0, "DG":0.0}, 
                                         {"win":0.0,"GF":0.0, "DG":0.0}, 
                                         {"win":0.0,"GF":0.0, "DG":0.0}]))
  print()
  for i in range(len(match)):

    print(match[i])
    replys = match[i].split("_")
    cad = played[i].split("-")
    team_1 = int(cad[0][-1])
    team_2 = int(cad[1][0])
    
    if team_1>team_2:
      positions[replys[0]]["win"] += 1
    elif team_1<team_2:
      positions[replys[1]]["win"] += 1
  
    positions[replys[0]]["GF"] += team_1
    positions[replys[0]]["DG"] += team_1-team_2
    positions[replys[1]]["GF"] += team_2
    positions[replys[1]]["DG"] += team_2-team_1

  print()
  for i in positions:
    print(i, positions[i])
  return sorted(positions, key=lambda x: positions[x]["win"]+(positions[x]["GF"]/100)+(positions[x]["DG"]/10000), reverse=True)[:2]

In [186]:
octavos = {}
for group in Groups:
  reply = win_groups(group)
  print("\n",reply,"\n\n","-"*50)
  octavos[group] = reply

======================> Group A
Qatar (4-1) Ecuador
Qatar (1-0) Senegal
Qatar (0-0) Netherlands
Ecuador (0-1) Senegal
Ecuador (2-2) Netherlands
Senegal (0-0) Netherlands

Qatar_Ecuador_+3
Qatar_Senegal_+1
Netherlands_Qatar_+0
Senegal_Ecuador_+1
Netherlands_Ecuador_+0
Netherlands_Senegal_+0

Qatar {'win': 2.0, 'GF': 5.0, 'DG': 4.0}
Ecuador {'win': 1.0, 'GF': 4.0, 'DG': -2.0}
Senegal {'win': 0.0, 'GF': 0.0, 'DG': -2.0}
Netherlands {'win': 0.0, 'GF': 2.0, 'DG': 0.0}

 ['Qatar', 'Ecuador']

 --------------------------------------------------
======================> Group B
England (0-0) Iran
England (2-0) United States
England (2-0) Wales
Iran (2-1) United States
Iran (1-1) Wales
United States (1-0) Wales

Iran_England_+0
England_United States_+2
England_Wales_+2
Iran_United States_+1
Wales_Iran_+0
United States_Wales_+1

England {'win': 2.0, 'GF': 4.0, 'DG': 4.0}
Iran {'win': 1.0, 'GF': 3.0, 'DG': 1.0}
United States {'win': 1.0, 'GF': 2.0, 'DG': -2.0}
Wales {'win': 0.0, 'GF': 1.0, 'DG': -3.0}

 ['England', 'Iran']

 --------------------------------------------------
======================> Group C
Argentina (2-0) Saudi Arabia
Argentina (2-0) Mexico
Argentina (2-0) Poland
Saudi Arabia (0-2) Mexico
Saudi Arabia (0-1) Poland
Mexico (1-0) Poland

Argentina_Saudi Arabia_+2
Argentina_Mexico_+2
Argentina_Poland_+2
Mexico_Saudi Arabia_+2
Poland_Saudi Arabia_+1
Mexico_Poland_+1

Argentina {'win': 3.0, 'GF': 6.0, 'DG': 6.0}
Saudi Arabia {'win': 2.0, 'GF': 3.0, 'DG': 1.0}
Mexico {'win': 1.0, 'GF': 1.0, 'DG': -3.0}
Poland {'win': 0.0, 'GF': 0.0, 'DG': -4.0}

 ['Argentina', 'Saudi Arabia']

 --------------------------------------------------
======================> Group D
France (2-0) Australia
France (0-0) Denmark
France (4-2) Tunisia
Australia (1-3) Denmark
Australia (0-2) Tunisia
Denmark (2-1) Tunisia

France_Australia_+2
Denmark_France_+0
France_Tunisia_+2
Denmark_Australia_+2
Tunisia_Australia_+2
Denmark_Tunisia_+1

France {'win': 2.0, 'GF': 6.0, 'DG': 4.0}
Australia {'win': 2.0, 'GF': 5.0, 'DG': 2.0}
Denmark {'win': 1.0, 'GF': 3.0, 'DG': -1.0}
Tunisia {'win': 0.0, 'GF': 3.0, 'DG': -5.0}

 ['France', 'Australia']

 --------------------------------------------------
======================> Group E
Spain (4-2) Costa Rica
Spain (1-1) Germany
Spain (2-1) Japan
Costa Rica (0-5) Germany
Costa Rica (1-3) Japan
Germany (4-0) Japan

Spain_Costa Rica_+2
Germany_Spain_+0
Spain_Japan_+1
Germany_Costa Rica_+5
Japan_Costa Rica_+2
Germany_Japan_+4

Spain {'win': 2.0, 'GF': 7.0, 'DG': 3.0}
Costa Rica {'win': 2.0, 'GF': 10.0, 'DG': 5.0}
Germany {'win': 1.0, 'GF': 5.0, 'DG': -1.0}
Japan {'win': 0.0, 'GF': 2.0, 'DG': -7.0}

 ['Costa Rica', 'Spain']

 --------------------------------------------------
======================> Group F
Belgium (2-0) Canada
Belgium (1-0) Morocco
Belgium (1-0) Croatia
Canada (0-2) Morocco
Canada (0-1) Croatia
Morocco (2-1) Croatia

Belgium_Canada_+2
Belgium_Morocco_+1
Belgium_Croatia_+1
Morocco_Canada_+2
Croatia_Canada_+1
Morocco_Croatia_+1

Belgium {'win': 3.0, 'GF': 4.0, 'DG': 4.0}
Canada {'win': 2.0, 'GF': 3.0, 'DG': 1.0}
Morocco {'win': 1.0, 'GF': 2.0, 'DG': -2.0}
Croatia {'win': 0.0, 'GF': 1.0, 'DG': -3.0}

 ['Belgium', 'Canada']

 --------------------------------------------------
======================> Group G
Brazil (1-0) Serbia
Brazil (1-1) Switzerland
Brazil (3-0) Cameroon
Serbia (1-1) Switzerland
Serbia (2-0) Cameroon
Switzerland (3-0) Cameroon

Brazil_Serbia_+1
Switzerland_Brazil_+0
Brazil_Cameroon_+3
Switzerland_Serbia_+0
Serbia_Cameroon_+2
Switzerland_Cameroon_+3

Brazil {'win': 2.0, 'GF': 5.0, 'DG': 4.0}
Serbia {'win': 1.0, 'GF': 3.0, 'DG': 1.0}
Switzerland {'win': 1.0, 'GF': 5.0, 'DG': 3.0}
Cameroon {'win': 0.0, 'GF': 0.0, 'DG': -8.0}

 ['Brazil', 'Switzerland']

 --------------------------------------------------
======================> Group H
Portugal (2-1) Ghana
Portugal (1-1) Uruguay
Portugal (0-2) South Korea
Ghana (0-2) Uruguay
Ghana (1-0) South Korea
Uruguay (2-0) South Korea

Portugal_Ghana_+1
Uruguay_Portugal_+0
South Korea_Portugal_+2
Uruguay_Ghana_+2
Ghana_South Korea_+1
Uruguay_South Korea_+2

Portugal {'win': 2.0, 'GF': 5.0, 'DG': 3.0}
Ghana {'win': 2.0, 'GF': 4.0, 'DG': 2.0}
Uruguay {'win': 1.0, 'GF': 3.0, 'DG': 0.0}
South Korea {'win': 0.0, 'GF': 0.0, 'DG': -5.0}

 ['Portugal', 'Ghana']

 --------------------------------------------------

#Octavos

In [187]:
octavos

{'Group A': ['Qatar', 'Ecuador'],
 'Group B': ['England', 'Iran'],
 'Group C': ['Argentina', 'Saudi Arabia'],
 'Group D': ['France', 'Australia'],
 'Group E': ['Costa Rica', 'Spain'],
 'Group F': ['Belgium', 'Canada'],
 'Group G': ['Brazil', 'Switzerland'],
 'Group H': ['Portugal', 'Ghana']}

In [188]:
oct = list(octavos.keys())
cuartos_replys = []

for i in range(0, len(oct),2):
  cuartos_replys.append(predict_results(octavos[oct[i]][0], octavos[oct[i+1]][1], model_winner, model, clases, tie=False))
  cuartos_replys.append(predict_results(octavos[oct[i]][1], octavos[oct[i+1]][0], model_winner, model, clases, tie=False))
  print(predict_results_full(octavos[oct[i]][0], octavos[oct[i+1]][1], model_winner, model, clases, tie=False), end=" | ")
  print(cuartos_replys[i])
  print(predict_results_full(octavos[oct[i]][1], octavos[oct[i+1]][0], model_winner, model, clases, tie=False), end= " | ")
  print(cuartos_replys[i+1])

Qatar (0-2) Iran | Iran_Qatar_+2
Ecuador (0-1) England | England_Ecuador_+1
Argentina (2-1) Australia | Argentina_Australia_+1
Saudi Arabia (0-4) France | France_Saudi Arabia_+4
Costa Rica (1-0) Canada | Costa Rica_Canada_+1
Spain (3-1) Belgium | Spain_Belgium_+2
Brazil (1-0) Ghana | Brazil_Ghana_+1
Switzerland (2-1) Portugal | Switzerland_Portugal_+1

# Cuartos

In [189]:
cuartos = [line.split("_")[0] for line in cuartos_replys]
cuartos

['Iran',
 'England',
 'Argentina',
 'France',
 'Costa Rica',
 'Spain',
 'Brazil',
 'Switzerland']

In [190]:
segundos_replys = []

for i in range(0, len(cuartos),2):
  print(predict_results_full(cuartos[i], cuartos[i+1], model_winner, model, clases, tie=False), end = " | ")
  segundos_replys.append(predict_results(cuartos[i], cuartos[i+1], model_winner, model, clases, tie=False))
  print(segundos_replys[-1])

Iran (0-2) England | England_Iran_+2
Argentina (1-0) France | Argentina_France_+1
Costa Rica (2-4) Spain | Spain_Costa Rica_+2
Brazil (3-0) Switzerland | Brazil_Switzerland_+3

# Semi-final & Final

In [191]:
segundos = [line.split("_")[0] for line in segundos_replys]
segundos

['England', 'Argentina', 'Spain', 'Brazil']

In [192]:
semiF_replys = []

for i in range(0, len(segundos),2):
  semiF_replys.append(predict_results(segundos[i], segundos[i+1], model_winner, model, clases, tie=False))
  print(predict_results_full(segundos[i], segundos[i+1], model_winner, model, clases, tie=False), end=" | ")
  print(semiF_replys[-1])

pos4_and_3 = [line.split("_")[1] for line in semiF_replys]
tercero = predict_results(pos4_and_3[0], pos4_and_3[1], model_winner, model, clases, tie=False)
print()
print(predict_results_full(pos4_and_3[0], pos4_and_3[1], model_winner, model, clases, tie=False), end=" | ")
print(tercero)
tercero = tercero.split("_")[0]
pos4_and_3.remove(tercero)

print("\nFourth in the world cup:", pos4_and_3[0])
print("Third in the world cup:", tercero)

semiF = [line.split("_")[0] for line in semiF_replys]
print("\nThe Final is between:",semiF)

England (1-2) Argentina | Argentina_England_+1
Spain (0-2) Brazil | Brazil_Spain_+2

England (2-1) Spain | England_Spain_+1

Fourth in the world cup: Spain
Third in the world cup: England

The Final is between: ['Argentina', 'Brazil']

In [193]:
# Final:

final = predict_results(semiF[0], semiF[1], model_winner, model, clases, tie=False)
print(predict_results_full(semiF[0], semiF[1], model_winner, model, clases, tie=False), end=" | ")
print(final)

semiF.remove(final.split("_")[0])
print("\nSecond in the world cup:", semiF[0])
print("\nWorld Cup Winner is: ", final.split("_")[0])

Argentina (2-1) Brazil | Argentina_Brazil_+1

Second in the world cup: Brazil

World Cup Winner is:  Argentina